[2022-08-27 16:48] AngryCarrot789 opened #1 "Galacticraft crashing when changing key bindings"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**:

[code]

I added a galacticraft item into my inventory (one of the solar panel items), using NEI (in cheat mode), and it worked fine. But when i clicked the item in my hotbar (in creative mode), it

[2022-08-27 17:16] xJon commented on #1
Caused by Galacticraft, and just patched by @ACGaming over https://github.com/TeamGalacticraft/Galacticraft-Legacy/pull/89. Thank you nonetheless for the report!

[2022-08-27 20:24] xJon opened #2 "Mouse Tweaks incompatibility with ProjectE"
Seems to cause issues when using the Energy Condenser and right clicking into it, creating ghost blocks. Also reported over https://github.com/sinkillerj/ProjectE/issues/1852.
Hopefully will get fixed by https://github.com/CleanroomMC/MouseTweaks/issues/2.

[2022-08-27 21:23] RealityDropz opened #3 "FPS Tanking"
FPS tanks when looking in random directions. I investigated alittle and pretty positive is its due to mineshafts and specifically minecarts with chests. I found one which was not interactable and also not breakable. I could not even use tnt to destroy it, It brought me down to 4 fps while I usually run about 300-500fps.

[2022-08-27 21:57] xJon commented on #3
In that session, could you check your log for any errors? You can share it with https://mclo.gs/.
Also, does it happen when [Entity Culling](https://www.curseforge.com/minecraft/mc-mods/entity-culling/files/3777319) is installed?

[2022-08-27 23:11] AngryCarrot789 commented on #1
Sweet :)

[2022-08-27 23:21] xJon commented on #1
Will keep this open until the fix gets into the modpack :)

[2022-08-28 04:37] Darklus1 opened #4 "Musket and Blunder not working"
whenever we try loading the gun to shoot makes a ringing noise and does not shoot, the guns show it stuck in loadstate reloading.

Kind regards

[2022-08-28 09:57] Renno231 opened #5 "Industrial Foregoing Hydrator Doesn't Work and more"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Industrial Foregoing Hydrator charges but doesn't perform its actions and when broken the machine and all of its internals are deleted.

[2022-08-28 10:46] xJon commented on #4
Found out what causes this, will fix soon :)

[2022-08-28 10:54] xJon commented on #5
Hi, thanks for the report but I'm unable to reproduce this issue.

[2022-08-28 13:44] Darklus1 commented on #4
Many thanks, Just FYI same issue with Crossbows, ^^ Just FYI love it ^^

[2022-08-28 14:00] Untick3 opened #6 "BuildCraft Fragile Lava Shard doesn't consume on right-click use"
If you acquire a "Fragile Lava Shard" from BuildCraft, you can just right click a Geothermal Generator, using the shard filling 1 bucket of lava into the generator but the shard doesn't get consumed, making you able to spam it and fill up as many generators as you would want.

You can acquire a shard by breaking an Iron Tank filled with some lava, for example.

Tested in both single-player and mul

[2022-08-28 15:28] xJon commented on #6
Will disable the shards in the next update.

[2022-08-28 17:05] Rishum-P opened #7 "Cannot remove upgrades from IC2 machines"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: yes (detail) / no
- **Crash/latest log link (if applicable)**: not applicable

A few players have reported that IC2 upgrades, such as the transformer upgrade, cannot be removed from machines even if ALT is pressed. Remapping the key does not wor

[2022-08-28 17:18] Speiger commented on #7
IC2C Author here.
This is kinda a "Anti Punishment system" in place.

Thought is, if you take transformer upgrades out on accident what happens? IT BLOWS UP.
They idea here is that you can no longer lose machines due to accidents like this specific case. (Upgrade containers where you don't see the items)

I am not going to change that because it is intentional, and will stay that like that.

[2022-08-28 17:19] Rishum-P commented on #7
Isn't that the point of having to press Alt, though? If not, then the tooltip is misleading and should at least be changed.

[2022-08-28 17:21] Speiger commented on #7
Yes it is the point of having to press that key. I just explained why I did it that way.
And keys in guis has to be on for that.

Sadly there is no real way to do it otherwise...

[2022-08-28 17:32] xJon commented on #7
I think the main issue is that disabling `enableKeysInGuis` is not really intended for use. I will make sure it's enabled in the next update, just feel free to reassign jetpack key bindings for example so it doesn't conflict when searching in HadEnoughItems.

[2022-08-28 18:50] Darklus1 opened #8 "Woodcutting mods"
Hello,

Wondering if the woodcutting mod is active on this pack? the one where you chop the bottom and the whole tree goes?

Kind regards

[2022-08-28 18:59] xJon commented on #8
There is no mod for that in the pack (similarly to the original Tekkit release), although there are tools that will help you chop trees faster or automate wood production!

[2022-08-28 20:04] OpenSauce04 opened #9 "Possibility of adding WTHIT to Tekkit 2?"
I miss having the block name indicator at the top of the screen like many packs including Tekkit and Tekkit Legends have
![image](https://user-images.githubusercontent.com/48618519/187092353-f78958f5-9aff-4090-b7a1-84271c401197.png)
Any chance of this mod being added?
https://www.curseforge.com/minecraft/mc-mods/wthit-forge

[2022-08-28 20:05] xJon commented on #9
It's included but disabled by default! You can press numpad 0 in order to enable it.

[2022-08-28 20:07] OpenSauce04 commented on #9
Oh! Thanks for the response, I had no idea!

[2022-08-28 20:07] #9 closed

[2022-08-28 21:52] OpenSauce04 opened #10 "Saving and quitting can cause the game to freeze"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

As the title says, once the Save and Quit button is pressed while open to LAN, the game stops responding permanently, and the log stops doing anything at all

[2022-08-28 21:57] pragmaticjim opened #11 "geothermal generator turns into generator when picked up"
-->I am using a legitimate minecraft account playing tekkit2 on a private server.
no additional mods
When I build a geothermal generator and place it, then pick it up again using a pick, it changes to a basic generator.
I recrafted it into a geothermal generator and repeated the process with the same result

[2022-08-28 22:03] xJon commented on #11
You need to pick it up with a wrench! Make sure it's a lossless wrench for a 100% chance of picking it up successfully.

[2022-08-28 22:06] pragmaticjim commented on #11
would not pick up with buildcraft wrench (EMC:788 made with stone gear and 3 iron

[2022-08-28 22:07] xJon commented on #10
Hey, thanks for the report! Unfortunately or not, I'm unable to reproduce this issue, and that end bit of the log seems fine. Does it happen also if no one else has joined your LAN world?

[2022-08-28 22:08] xJon commented on #11
As the Geothermal Generator is from Industrial Craft, you also need that mod's wrench :)

[2022-08-29 02:45] Darklus1 commented on #8
Understood havent played it in a long time how would I automate wood productions?

[2022-08-29 03:52] blakangel opened #12 "Sound system incompatibilities can cause crashes"
**Basic details**
- **Are you using a legitimate Minecraft account?**: YES
- **Are you using Java 8, 64-bit?**: YES
- **Did you add any additional mods**: NO
- **Crash/latest log link (if applicable)**: https://mclo.gs/wUFfeJn

**Describe the issue**
Made a tree tap and right clicking on rubber tree resin reliably causes a crash.

[2022-08-29 04:42] blakangel commented on #12
Looks like disabling IC2 sounds in the settings fixes this for me. No crashes when using tree tap.

[2022-08-29 09:46] ILC5100 commented on #10
I have the same problem and when the game is not opened in LAN the game crashes also

and it happens even if no one is jond.

[2022-08-29 09:48] xJon commented on #8
You can look into mods such as Forestry or Industrial Foregoing, both have useful guide books in-game. You can also craft all of the guide books by looking up `Akashic Tome` :)

[2022-08-29 09:49] xJon commented on #10
@ILC5100 Can you share the crash report using https://mclo.gs/ ?

[2022-08-29 09:52] ILC5100 commented on #10
Where can I find the log file?

[2022-08-29 10:04] xJon commented on #12
I'm unable to reproduce this, but if you can reliably cause a crash I'll refer this to the IC2 Classic developer.
Do you have any unique information about your system you can share?

[2022-08-29 10:04] xJon commented on #10
Under `crash-reports` in the modpack's installation folder.

[2022-08-29 10:05] ILC5100 commented on #10
The person where this happened does not want to share the crash report

[2022-08-29 10:19] Speiger commented on #12
Looks like your game doesn't support quick play of sounds.
(Playing sounds only once)

That can be either due to old hardware or I dunno?

[2022-08-29 10:20] xJon commented on #10
Okay :)
(I cannot help further without more in-game logs)

[2022-08-29 10:27] ILC5100 commented on #10
I can send my crash report because the same thing happened to me, which part should I send

[2022-08-29 10:29] xJon commented on #2
(Test please ignore - @Speiger)

[2022-08-29 10:31] xJon commented on #10
@ILC5100 All of it, and please use https://mclo.gs/.

[2022-08-29 10:33] ILC5100 commented on #10
This is the link https://mclo.gs/4lo0GwB

[2022-08-29 13:29] JS19000 commented on #12
@xJon I'm having the exact same issue. Here's the log. https://mclo.gs/Dco6c1o
I've also installed OptiFine 1.12.2 HD U G5
The log shows that I'm using Windows 8.1 but I'm actually using Windows 10 21H2 build 19044.1889.

[2022-08-29 13:47] Speiger commented on #12
@JS19000  IC2Classic doesn't support optifine. Sooo please repeate without Optifine

[2022-08-29 14:20] Jaari opened #13 "Jumping underwater resets Ambient/Environment sound level."
**Basic details**
- **Are you using a legitimate Minecraft account?**: Yes
- **Are you using Java 8, 64-bit?**: Yes
- **Did you add any additional mods**: No additional mods added
- **Crash/latest log link (if applicable)**: N/A

Description:
If the ambient/environment sound is set to a custom value (ranging anywhere from Off to 100%), this value is reset to 1% when moving underwater, then set bac

[2022-08-29 14:25] mataric opened #14 "Engines cannot be rotated"
Neither Placing or the Buildcraft wrench can rotate an engine (Tested with Stirling and Redstone engine). They will always face straight up. The audio of it rotating plays, but nothing happens

[2022-08-29 15:01] blakangel commented on #12
My issue seems similar to @JS19000 's - I'm using a Denon Home Theater Receiver as my audio output (HDMI from GPU -> Denon -> LCD). My crashes were probably related to the default device going away and coming back. I also lose sound in minecraft if I mute/unmute speakers in windows. To get sound back I have to select the correct sound device in minecraft settings as opposed to "default device".

I

[2022-08-29 15:20] OpenSauce04 opened #15 "Placing Aluminum Wire next to IC2 Classic machine can lag the game"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**
Title and video are self explanatory
https://streamable.com/e/u6im8h

[2022-08-29 15:53] xJon commented on #15
Thanks for the report! This is a known issue with Galacticraft (https://github.com/TeamGalacticraft/Galacticraft-Legacy/issues/30#issuecomment-1193140906), and would only happen if the wires are placed next to IC2C machines. Hopefully they will be able to fix it in the future.

[2022-08-29 15:55] xJon commented on #15
I also opened now a new issue for this over their repository: https://github.com/TeamGalacticraft/Galacticraft-Legacy/issues/90

[2022-08-29 16:05] xJon commented on #14
Following up on this comment https://github.com/BuildCraft/BuildCraft/issues/4525#issuecomment-581469789, I can verify that rotating works but only between valid orientations. Thanks for the report nevertheless!

[2022-08-29 16:09] xJon commented on #10
Do you play in full screen? Do you have a special monitor resolution?

[2022-08-29 16:44] OpenSauce04 commented on #10
I usually play windowed maximized at 1080p

[2022-08-29 18:19] kladde1999 opened #16 "Can't chop single blocks of wood"
I can't chop single blocks of wood with an axe. Makes it impossible to use wood in houses etc. How do I chop single woodblocks?

[2022-08-29 19:08] Conquest2020 opened #17 "World closes everytime a tap is used on rubber"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**:no
- **Crash/latest log link (if applicable)**: https://mclo.gs/B6qRVpx

**Describe the issue**

Everytime ive went to farm my rubber off the trees as soon as i use the tap on them the world shuts down/Crashes my game entirely.

[2022-08-29 19:23] xJon commented on #17
This would be a duplicate of https://github.com/xJon/Tekkit-2/issues/12, a system-specific incompatibility.

[2022-08-29 19:23] #17 closed

[2022-08-29 19:23] xJon commented on #16
Can you provide further detail or a short video example? I don't quite understand the issue.

[2022-08-29 20:56] OpenSauce04 opened #18 "[Feature request] Nicer looking FML loading animation"
I've made a version of the loading animation that has a small white gradient overlay placed to the left

Here's a video showing the difference:
Old
https://user-images.githubusercontent.com/48618519/187297104-f6534b44-b0b6-4c8d-9e19-369f4155cb27.mp4

New
https://user-images.githubusercontent.com/48618519/187297119-18113fc6-79f5-45f1-9877-561b16183422.mp4

If this does end up used, I don't want cre

[2022-08-29 21:07] Jaari commented on #16
I checked all axes in the game, none gave me trouble chopping a single piece (or multiples) of oak wood.

[2022-08-29 21:39] oput12 opened #19 "Railcraft Steel required for IC2?"
All IC2 recipes require railcraft steel instead of refined iron
I do know if this is intentional but it is internally inconsistent example being an IC2 machine block requires 8 railcraft steel but breaking it back down gives 8 refined iron

[2022-08-29 22:09] xJon commented on #19
I cannot reproduce this. Perhaps you are playing on a server that modified the pack?

![image](https://user-images.githubusercontent.com/8945347/187307489-593eda0b-8d18-409e-991a-46e2150ea4cc.png)
![image](https://user-images.githubusercontent.com/8945347/187307601-4bb329fd-03b2-42eb-85cf-172563423168.png)

[2022-08-29 22:32] embeddedt commented on #12
@Speiger The root cause of this crash seems to be that `randomNumberGenerator` is set back to null in SoundSystem when the sound device goes missing (presumably causing `SoundSystem.cleanup` to be called). The `SoundSystem.quickXXXX` family of methods seem to be the only ones that make use of that field, and are presumably only used by IC2C, which is why the crash happens.

We can fix vanilla to n

[2022-08-29 23:01] oput12 commented on #19
I am pretty sure that the server I joined changed the crafting recipes but how does a server change what the crafting recipes are on a singleplayer world?
I made sure to check in singleplayer before making this question

[2022-08-29 23:04] xJon commented on #19
It should not affect singleplayer. Does it still happen?

[2022-08-29 23:11] PLPLUGIN opened #20 "Glitched pants from railman npc"
When you lvl railman villager to max he offers you totally broken, overpowered, glitched pants, they have a lot of enchants, even duplicated ones. You take no dmg in them but also you can't take them off as they crash your game!
![image](https://user-images.githubusercontent.com/64206241/187314416-72718590-3052-4bff-a687-e94599fe4393.png)

[2022-08-29 23:18] oput12 commented on #19
![2022-08-29_18 16 22](https://user-images.githubusercontent.com/112436850/187314994-07c758d6-d100-47df-a550-1c7d2e341edb.png)
a screenshot of a singleplayer world I made where I cannot craft using refined iron

[2022-08-29 23:48] xJon commented on #19
Strange. Can you reinstall the modpack?

[2022-08-29 23:49] xJon commented on #20
That's... interesting, hah! Could you please repost this issue over Railcraft's repository?
https://github.com/Railcraft/Railcraft/issues

[2022-08-29 23:51] xJon commented on #20
Don't accept pants from strangers, lesson learnt.

[2022-08-30 04:41] luigil101 opened #21 "Flux cables do not input power into the Forestry Farm"
**Basic details**
- **Are you using a legitimate Minecraft account?** yes
- **Are you using Java 8, 64-bit?** yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**
When attempting to use the Electric Flux Generator to power a Farm, the flux cables it demands are unable to input power into the Farm gearboxes
The generator d

[2022-08-30 10:58] Speiger commented on #12
Yeah I am not adding a try catch for that. That is not a fix to the system. It is just treating a symptom.
I think I know how to fix this but this will take time since the 1.19 beta is right now running and i am 100% utilized during that.

What the fix is going to be, since the old sound system is ditched that would mean a new one was created. So I can test for a ditched sound system and fetch the

[2022-08-30 11:00] Speiger commented on #12
Also looking through the code.
A Resource Reload refreshes the sound system. So F3+T will fix it if you sound system changed.

[2022-08-30 11:21] MagicChesus opened #22 "Picking up solar panel seem to crash my game"
*my first issue request so i'll be filing by the sheet to the dot.*

Today i wanted to relocate my solar panel's (1x lv-solar panel and 1x mv-solar panel) every time i tried to pick them up it crashed.

**Basic details**
- I am using official TechnicLauncher and legit account
- **Are you using Java 8, 64-bit?**: Yes
- **Did you add any additional mods**: no

Links to my several Crash reports:
 - h

[2022-08-30 12:08] xJon commented on #22
This is probably another case of the sound incompatibility but your crash logs are unavailable.

[2022-08-30 12:23] xJon commented on #21
Another workaround would be to place a converter (Flux Generator, Electrical Engine) right on the Farm Gearbox.
Strange issue though, thanks for the report.

[2022-08-30 12:33] MagicChesus commented on #22
Tried different website for Crash logs hope this work.

[2022-08-30 12:59] xJon commented on #22
Yes, that works. Seems indeed like a duplicate of https://github.com/xJon/Tekkit-2/issues/12, follow up on that issue for more information about what's happening. Hopefully it can be fixed soon!

[2022-08-30 12:59] #22 closed

[2022-08-30 13:31] embeddedt commented on #12
This does not seem to happen on Linux. The game is not smart enough to properly reset the system so it can play any other sounds. You just get no sound unless you restart (or use F3+T, see below).

Maybe there is a new SoundSystem instance created, but the instance doesn't actually function.

This does fix the issue but resource reloads often take several minutes in modded games. I don't think thi

[2022-08-30 14:34] Speiger commented on #12
@embeddedt until i publish a proper fix the F3+T is your temp solution from preventing crashes.
You either take it or leave it until my patch comes out in a couple weeks.

[2022-08-30 16:28] LividDarkness opened #23 "IC2 Bronze wrench having crash issues with everything."
Basic IC2 bronze wrench will only pick up the machine or item via wrenching from the exact front face of the block. Any other side or angle causes a crash. Making machine adjusting or removal a pain in the rear.

For reference is the crash log for the mod creators perusal: https://mclo.gs/JesbLza

Hope this helps for fixing the issue.

[2022-08-30 16:29] xJon commented on #23
Hey, thanks for the report! You can see more info over https://github.com/xJon/Tekkit-2/issues/12, I hope this get fixed soon.

[2022-08-30 16:29] #23 closed

[2022-08-30 17:10] LividDarkness opened #24 "Nano Sabre Activation. Crash! Crash! Crash!"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no

When activating a fully charged Nano Sabre it crashes while on a multiplayer server (probably singleplayer too). It will repeat this process over and over and over when logging back in, only if one is fast enough to toss from your inventory

[2022-08-30 17:38] xJon commented on #24
Do you have any more logs?

[2022-08-30 17:43] xJon commented on #24
This is most likely yet another duplicate of https://github.com/xJon/Tekkit-2/issues/12.

[2022-08-30 18:11] LividDarkness commented on #24
no nothing else i can really give other than that log for any crash info

[2022-08-30 18:27] LividDarkness commented on #24
I seemed to fix the issue by resetting the sounds of IC2. Turn off all sounds and remove all active sounds in IC2 settings. Then you can reactive and play as normal.

Thought id let you know or anyone else reading this thread.

[2022-08-30 18:48] xJon commented on #24
In this case this is indeed a duplicate of https://github.com/xJon/Tekkit-2/issues/12, thanks for the report and you can follow up there :)

[2022-08-30 18:48] #24 closed

[2022-08-30 19:32] OpenSauce04 opened #25 "Rending Gale not protecting tilled land"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: yes (Corail Tombstone)
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Swiftwolf's Rending Gale does not protect from trampling on crops, as shown in this video:
https://streamable.com/pnywbp
This is a docume

[2022-08-30 19:43] xJon commented on #25
It doesn't appear to be a configurable option of ProjectE, so I'm just left to assume they didn't implement this feature. Unfortunately the mod is no longer developed for 1.12 so there's not much we can do unless the author changes their mind

[2022-08-30 21:35] Speiger commented on #19
IC2Classic has a "Use Steel instead of Refined Iron" Config. Someone must have enabled it.

[2022-08-30 22:17] Watersfall opened #26 "Mining backpack can't hold coal or raw silicon"
Basic details

Are you using a legitimate Minecraft account?: yes
Are you using Java 8, 64-bit?:  yes
Did you add any additional mods:  no

The Miners Backpack from Forestry can't contain coal or raw silicon, despite being things you would expect the mining backpack to hold

[2022-08-31 00:27] PawnixHere opened #27 "Rotary Macerator ALT button to remove upgrade doesn't work"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

When the transformer upgrade and energy storage upgrade is placed in a Rotary Macerator, the player is prompted that the upgrade is locked and can't remove t

[2022-08-31 00:40] PawnixHere commented on #7
If you refuse to delete the tooltip for which ALT button to press, which is extremely misleading at best and poor practice, make it so that a machine that is turned off and isn't connected to power can have its transformer upgrades removed like any other upgrade.

[2022-08-31 00:59] xJon commented on #27
Thank you for the report! Closing it as it's a duplicate of https://github.com/xJon/Tekkit-2/issues/7, feel free to follow up there :)

[2022-08-31 00:59] #27 closed

[2022-08-31 03:42] jvahle3 opened #28 "Logistics Pipes & LoliASM crash with IC2C"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Very easy to reproduce crash.

1. Fill an IC2 gas can with Coalfuel using a canning machine
2. Place a basic IC2 generator with power consumer
3. Place fille

[2022-08-31 03:55] dangerdyke opened #29 "Project table crashes world and deletes it's items at random"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: [link to log](https://mclo.gs/Q9vwKu6)

**Describe the issue**

Sometimes while crafting using a project table, the game will crash. upon re-entering the world, one of the stacks in the project ta

[2022-08-31 09:24] Speiger commented on #7
You know what I am not dealing with this argument anymore
@GregoriusT can justify that feature since he was the one who effectively got me to put it in.

So greg your point to justify it.

[2022-08-31 09:47] GregoriusT commented on #7
Speiger change the Tooltip to tell people to enable that enableKeysInGuis thing, that way they at least know how to enable the ALT key, and THEN if its enabled, show the original press ALT tooltip. This is clearly just a misleading tooltip issue and not an actual Feature Issue.

Also super dumb question, cant you just wrench the Machine to dismantle it and you will get all upgrades back?

[2022-08-31 09:47] Rishum-P commented on #7
I don't understand why there is even any argument. The feature is 100% good and should be kept. The only issue here is a modpack (not mod) issue about changing the config setting for the next pack update.

I think the confusion, that caused the argument was that the first reply seemed like you were opposed to the enabling of the config option instead of just explaining why the feature exists, whic

[2022-08-31 09:51] GregoriusT commented on #7
Another Idea would be that the Tooltip could tell people "Use Wrench to dismantle Machine to retrieve Transformer Upgrades".

The only Issue is that the Tooltip literally lies to people instead of telling them what to do.

[2022-08-31 09:55] Speiger commented on #7
Yes the inventory drops always. This is just a screen issue.

Nah the enableKeysInGuis is enabled by default.

This would require a major rewrite and a lot of extra code. Which since the mod is only in "Bugfix state" is way to big of a change.
The mod is AS IS in terms of features, and that includes that.

[2022-08-31 10:01] GregoriusT commented on #7
Wait why was the enableKeybindsInGuis false in the first place for that Modpack?

[2022-08-31 10:05] Rishum-P commented on #7
It was just a bug, and I'm guessing they never knew it would cause this issue. All this issue is, though, to suggest that the option is enabled for the next Tekkit 2 update, which Jon said it would. The discussion turned into something more complex.

[2022-08-31 10:18] Speiger commented on #7
Jetpack + JEI search

[2022-08-31 10:48] xJon commented on #29
Do you have a way to reproduce this?
Can you try to head to the modpack's installation folder -> `config` -> `placebo.cfg`, disable `"Fast Shapeless Recipes"` and try again?

[2022-08-31 11:40] xJon commented on #7
Indeed `enableKeybindsInGuis` was disabled due to trying to search in JEI whilst wearing a Jetpack and it was quite annoying, but I understand that feature is needed for other gameplay reason so it'll be reenabled.

[2022-08-31 11:53] Bl4CkGuuN opened #30 "Villager Emerald Trading > EMC"
Just found this on r/Tekkit

creds to u/davemcdave8888

[2022-08-31 12:31] xJon commented on #30
Hmm, it's an interesting point. I wouldn't want to disable villager trading and I'm not familiar with any mod that'd modify it in that way. I do think that gaining EMC through "stuff" is not necessarily an exploit: you need to trade, similarly to building energy collectors.
I could lower the EMC value of emeralds though, they are supposed to be x2 from diamonds but I'm not sure whether it has to b

[2022-08-31 12:59] Bl4CkGuuN commented on #30
I'm not that familiar with villager trading, but afaik you can easily "refill" the villagers stock to unlimited trading
I can agree to this comment from the reddit post:
[code]
https://www.reddit.com/r/tekkit/comments/x2b9gl/emeralds_and_emc_in_tekkit_2/

[2022-08-31 15:46] ACGaming commented on #25
Should I implement that in my fork?

[2022-08-31 15:54] Mxollier opened #31 "Crash: net.minecraftforge.fml.common.LoaderExceptionModCrash"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: https://mclo.gs/Y5tSI0k and https://mclo.gs/dc9tADP

**Help needed**

Hello

I just downloaded Tekkit 2, played it for a few hours, and when i hit disconnect, a " Minecraft has crashed" message (lo

[2022-08-31 16:27] xJon commented on #25
@ACGaming Would be awesome :)

[2022-08-31 16:31] xJon commented on #31
This seems to be a duplicate of https://github.com/xJon/Tekkit-2/issues/1, which will get fixed hopefully in the next modpack update! The current workaround would be to not reassign the left shift key, I'm pretty sure.

[2022-08-31 16:31] #31 closed

[2022-08-31 21:23] dangerdyke commented on #29
after trying on and off for a few hours i couldn't reproduce with that config change

[2022-08-31 21:25] xJon commented on #29
@dangerdyke and you can reproduce it again without the config change? (`Fast Shapeless Recipes` enabled)

[2022-08-31 21:59] Jaari commented on #28
To give a bit of information on this regarding the gas can, this involves quite a few steps:

1. Make coal dust (for example macerating coal).
2. Turn coal dust into hydrated coal dust by crafting with a water bucket.
3. Turn this into H. Coal by putting it into a compressor.
4. Combine H. Coal with an empty cell in the canning machine for H. Coal Cell.
5. Put the H. Coal Cell in an Extractor to f

[2022-08-31 22:08] Jaari commented on #28
Notable addition:

Half of the fuel can in the canning machine recipes do not seem to work:
Working:
- Coalfuel cell
- Biofuel cell

Not working:
- Glowstone
- Redstone
- Gunpowder
- Fuel cell.

Weird behaviour:
- A fuel can (as opposed to the normal "filled fuel can") can be made by combining a coalfuel cell with an empty fuel can in the canning machine. However, that recipe produces the regular

[2022-08-31 22:11] Jaari commented on #28
Another addition: Crash happens when keeping the GUI open, the moment the fuel can empties, the game freezes. Crash reported is the same as the initial one in the earlier paste. https://pastebin.com/Kkn6AcSS

[2022-08-31 23:19] Speiger commented on #28
@Jaari the not working ones are multipliers you cant multiply 0 to anything larger then 0.

So you put in coal/bio in first and then add glow/redstone gunpowder or fuel cell.
Since the canner stores the values and applies each item individually based on how much fuel it has cached.

Also the crashes are unrelated to ic2c, they have nothing todo with it.
One is a saving crash, the other is a logist

[2022-09-01 01:28] Vermilliony24 opened #32 "Logistics pipes crash"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**: yes (detail) / ftb utils
- **Crash/latest log link (if applicable)**: link to log / https://mclo.gs/doxwCCa

**Describe the issue**

A clear description of what the issue is.
 when placing pipes, occasionally it crashes, im unable to reliably

[2022-09-01 11:29] Mxollier commented on #31
Thanks a lot, works like a charm now

[2022-09-01 11:48] Jaari commented on #28
The reason that IC2C was suspected was that the saving crash happens the moment you rightclick the generator which has now an empty fuel can inside. The logistics pipe crash happens shortly after the save crash, might even be caused by loliasm trying to keep the world from crashing.

I've just tried to reproduce this using only IC2C, and for the sake of it, IC2C and logisticspipes, but was unable

[2022-09-01 12:06] Jaari commented on #28
Did some more testing:

Crashes using loliasm (requires mixinbooter), logisticspipes (requires codechickenlib) and IC2C.
Doesn't crash using just loliasm and IC2C.
Doesn't crash using just logisticspipes and IC2C.

[2022-09-01 12:56] xJon commented on #28
Workaround is to disable `nbtBackingMapStringCanonicalization` & `optimizeNBTTagCompoundBackingMap` in LoliASM's config file. Will include in the next update.

[2022-09-01 13:20] JohanSnurre opened #33 "Geothermal Generator bug with energy loss"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: yes no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

When using ic2 geothermal generator the power generated stops after a while even though there is plenty of "fuel" left in the generator. The UI of the ma

[2022-09-01 13:50] xJon commented on #33
Couldn't reproduce this issue. You need to make sure the generator has where to send the power.

[2022-09-01 14:27] JohanSnurre commented on #33
[njgvjmfg.zip](https://github.com/xJon/Tekkit-2/files/9470701/njgvjmfg.zip)
 Here is the save file, Geothermal generator is behind cobblestone wall with smelting setup

[2022-09-01 14:35] xJon commented on #33
I don't want to or believe it is necessary to test the world, if you want you can reply to my response to better understand this or further troubleshoot.

[2022-09-01 14:53] JohanSnurre commented on #33
Try this:
1. connect gethermal gen to batbox
2. connect batbox to some simple machine(macerator, electric furnace)
3. let the batbox fill up/max out on its capacity
For met this deactivates th geothermals and requires a re-place of the block to make it work again

[2022-09-01 15:09] xJon commented on #33
@JohanSnurre Doesn't this show how the generator stops working when there's no more places to output power to? (because the BatBox is filled up)

[2022-09-01 15:12] JohanSnurre commented on #33
But the batbox is still providing power to the machines, emptying the power in it. Shouldn't the generator start filling up the batbox if the power in the batbox is below 100%?

[2022-09-01 15:40] Vermilliony24 commented on #32
now it seems to happen after placing basic pipes, in fact it crashes when i load in now

https://mclo.gs/SQvBJBe

[2022-09-01 15:54] xJon commented on #33
I'm able to reproduce this! Although not this:

@Speiger seems quite minor, but is this intended behavior?
![Gif](https://user-images.githubusercontent.com/8945347/187958643-38487be7-4df7-4135-93dd-ea75543920ef.gif)

[2022-09-01 15:58] xJon commented on #32
Strange. I've contacted the logistics pipes dev, hopefully they could help.
You could also try to manually update to the latest [alpha version](https://www.curseforge.com/minecraft/mc-mods/logistics-pipes/files/3594848).

[2022-09-01 16:00] Vermilliony24 commented on #32
i'd love to but im on a server, fortunately it only seems to affect me and not anyone else online

[2022-09-01 16:14] Vermilliony24 commented on #32
okay! so removing ftblib and ftbutils allowed me back in! i'll see if i can intentionally repeat it so i can be sure thats what causes it

[2022-09-01 16:15] xJon commented on #32
Oh? so could be caused by a conflict with them?

[2022-09-01 16:21] JohanSnurre commented on #33
For me the power transmission from the geo generator stops entirerly. I need to replace the generator and feed it with new fuel for it to transmit again. This cannot be intendet behavior, if so then it is bad design.

[2022-09-01 16:32] Vermilliony24 commented on #32
strange, i've repeated the exact steps that led to a crash with and without ftbutils and ftblib, but i cant recreate it

[2022-09-01 16:35] xJon commented on #32
@Vermilliony24 Can you re-add those mods and test again?

[2022-09-01 16:40] Vermilliony24 commented on #32
i did, it seems to run just fine, i'll update this if it crashes again

[2022-09-01 16:52] xJon commented on #33
@JohanSnurre Are you reproducing this on a singleplayer world?

[2022-09-01 16:56] JohanSnurre commented on #33
Yes I am

[2022-09-01 16:59] xJon commented on #33
As I am unable to reproduce this issue beyond the visual/sound problem, it'd be useful if you can take a short video showing it.

[2022-09-01 17:06] OpenSauce04 commented on #25
Oh wait that was a Project E thing? Cool, glad to see that implemented :)

[2022-09-01 17:20] xJon commented on #25
@OpenSauce04 Apparently it was a feature that was broken in ProjectE 1.12.2. @ACGaming fixed it so it will be in the next modpack update :)

[2022-09-01 17:21] JohanSnurre commented on #33
https://drive.google.com/drive/folders/1XV-4CZ59KTOkUI3ugCVqMXHce8LD3j06?usp=sharing

Here are some shorts films showing the issue, seems to be working SOME times

[2022-09-01 17:25] JohanSnurre commented on #33
I also connected the cables to the backs of the generators with no improvements

[2022-09-01 17:42] xJon commented on #33
@JohanSnurre Can you upload them to Youtube? it'd be easier to view plus have compression as they are currently quite large files. Thanks!

[2022-09-01 17:43] Speiger commented on #33
I hope i didn't miss read the bug.

@JohanSnurre ok this is basically a really obscure IC2 issue. (any IC2 Versions up to 1.12, yes even those who went before experimental)
I fixed this bug with 1.19, because I was rewriting the enet anyways.

Basically what the issue is:
If there is power in the buffer but not enough to overcome the energyloss that the cable has meaning there is 1 EU in there but

[2022-09-01 18:04] Speiger commented on #33
@JohanSnurre yes the bug i just describ is it.

Also PLEASE for the love of god Look at the item tooltips of the Cables when you have a EU Reader Equipped, you see the exact loss per cable.
And you are using those that have a loss of 0.5EU per block....
You only need Higher tier power cables if your power source (singular) is above 32EU.
Cables work on a per source basis, so if you have 100 10EU s

[2022-09-01 18:26] xJon commented on #33
@JohanSnurre Can you confirm the workaround of lowering the energy loss works? Perhaps switch to glass fibre cables, or use copper cables but with a much shorter distance?

[2022-09-01 18:50] xJon commented on #33
@JohanSnurre That seems to be a separate issue that comes and goes for me. Could be due to another mod in the pack, I'm not sure, but nonetheless is not game breaking. Thank you for the reports :)

[2022-09-01 19:49] dangerdyke commented on #29
Yes, the issue does come back with the option re-enabled

[2022-09-01 19:49] xJon commented on #29
Will make sure it is disabled by default in the next modpack update. Thanks for the report!

[2022-09-01 19:59] Speiger commented on #33
@JohanSnurre you need to hover over the meter on the side. Which you didn't do.
Also you need a EU Reader in your hotbar to see the tooltip inside of the gui.

Because that actually makes these visible. (Without a Meter how would you know how much it is... Official lore)

[2022-09-01 20:06] xJon commented on #33
Thanks for the comment @Speiger, that makes a lot of sense, I didn't know :)

[2022-09-01 21:14] Rishum-P commented on #32
I can confirm this isn't an isolated bug, a couple of players have been experiencing it on our server, too, but it seems very player specific. I've been unable to re-create it myself.

Player 1: https://mclo.gs/bmYZbBI
Player 2: https://mclo.gs/vCeCNqs

For player 2, we solved it by giving them a config for LoliASM that disabled everything, after attempts to fix it (pack reinstall, removing textur

[2022-09-01 21:53] xJon commented on #32
@Rishum-P Perhaps Player 2 could troubleshoot different config values for LoliASM to try to narrow down causes?

[2022-09-01 21:58] Rishum-P commented on #32
I'll try my best to convince them to play ball, however, they may be unwilling so I can't promise, unfortunately. I only have the crash reports because they opened a support ticket. I'll do my best to try and figure out the cause though.

[2022-09-01 22:12] xJon commented on #32
@Rishum-P No worries, it's not your responsibility to figure this one out, either way I'm glad it doesn't affect many players and that they found workarounds.

[2022-09-02 05:46] TotallyNotAGhost opened #34 "logistics pipes autocrafter needing more than 1 programmer"
**Basic details**
- **Are you using a legitimate Minecraft account?**: Yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: yes (detail) / no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Logistics pipes autocrafters want 1 progammer and an additional 1 for each logistics pipe item they're crafting even if it's not consumed in t

[2022-09-02 10:32] TotallyNotAGhost opened #35 "Logistics autocrafter doesn't correctly distribute items"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**: y no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Logistics autocrafter doesn't correctly distribute items among it's slots sometimes, resulting in stuck autocrafting.

![2022-09-02_02 22 19](https://use

[2022-09-02 10:59] Jaari commented on #35
The only thing I see there is that you are missing the block in the middle? It's not in the inventory.

[2022-09-02 11:08] xJon commented on #35
Can you explain in further detail?
Also, it might be better to consolidate all Logistics Pipes issues to one reported to the modpack, or post them directly over https://github.com/RS485/LogisticsPipes/issues. The mod is not currently in active development but could be later by other maintainers so keeping track of issues is a good thing.

[2022-09-02 11:13] TotallyNotAGhost commented on #35
You're right, it's missing the center block, I went and looked at the previous fuzzy crafting table, and the recipe in it wants oak planks and refuses to use the jungle planks that were given to it by the system. I'm just closing this because I think I messed it up and wasted your time, sorry.

[2022-09-02 11:13] #35 closed

[2022-09-02 11:23] xJon commented on #35
@TotallyNotAGhost You didn't waste our time, it's valuable to report issues. Thank you nonetheless :)

[2022-09-02 11:35] TotallyNotAGhost commented on #34
The solution to this (thanks to Kriest on discord) is to remove the programmer from the crafting pipe input and leave everything else.

[2022-09-02 11:35] #34 closed

[2022-09-02 11:38] xJon commented on #34
If you think this design choice is unintuitive, feel free to open an issue discussing it over the mod's repository! https://github.com/RS485/LogisticsPipes/issues

[2022-09-02 14:11] MCDemon117 opened #36 "CCL Error rendering Logistics Crafting Table"
**Basic details**
- **Are you using a legitimate Minecraft account?**: Yes
- **Are you using Java 8, 64-bit?**: Yes
- **Did you add any additional mods**: Yes (Telepads Mod)
- **Crash/latest log link (if applicable)**: link to log / not applicable

**Describe the issue**

This error appeared before I added the Telepads Mod, it started after I returned from the Moon the first time, I looked into th

[2022-09-02 14:36] xJon commented on #36
Are you using any Project Red frames?

[2022-09-02 16:16] Fireflexor opened #37 "Mod Suggestion: Just Enough Calculation"
I'd like to see the mod "Just Enough Calculation" to be added to the pack

It's a small mod that lets you easily calculate raw material costs of crafting and step you through the crafting process. It makes complex multi stage crafting much easier and is a great QoL mod

The mod's page is https://www.curseforge.com/minecraft/mc-mods/just-enough-calculation

[2022-09-02 17:18] MCDemon117 commented on #36
No and I don't have Optifine since I know it causes a small problem, I'm telling the truth, it's something to do with Logistic Pipes Crafting Table

[2022-09-02 17:58] Darklus1 commented on #4
Hello,

Just curious when this will be fixed?

Kind regards

[2022-09-02 18:05] xJon commented on #4
Hopefully this weekend :)

[2022-09-02 18:36] xJon commented on #36
Forwarded the issue to Logistics Pipes' repository in case development is picked up again, although I'm not sure when that would be. Thanks nonetheless for the report!

[2022-09-02 18:59] Fireflexor opened #38 "Tree Fluid Extractor not Working With Rubber Wood"
The IF tree fluid extractor does not appear to work with IC2 Classic's rubber trees. in the source code it appears to check if the log is "ic2:rubber_wood" however in IC2 Classic it is called "ic2:blockrubwood". This means that instead of producing 4mb of latex per operation (more than any of the vanilla trees) it produces none. This can be fixed using craft tweaker

[2022-09-03 05:16] brianBaskovich opened #39 "Musket doesn't fully load"
When attempting to load for the first time it will consume one musket ball and be stuck in Loadstate: Loading. Further attempts at loading will either cause the loading animation and audio clip to play indefinitely or for only a split second. You cannot aim or fire as you would when loaded.

[2022-09-03 07:11] ExtrymasLTU opened #40 "ProjectE projectile fire default key binding conflicts"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

When fireing any projectile from ProjectE with R the projectiles do not fire. Oddly even if you change keybind to any other free key they still do not fire.

[2022-09-03 07:25] ACGaming commented on #39
Known issue: #4
Will be included in the next update!

[2022-09-03 07:38] ThexXTURBOXx commented on #4
Joining in here, I have received a huge PR on Reforged which should hopefully fix this.
I will review it in the next few hours and see whether everything works then. Depending on that, I will publish a new version of Reforged then.

[2022-09-03 07:52] sqwyd opened #41 "Other mods to potentially be added?"
I wanted to suggest a few mods that could be added, namely the ones that were in the mod pack that goes by the name 'Tekkit', currently on version 1.6.4 and have versions or counterparts that could be added to Tekkit 2. These include:
- [Applied Energistics 2 (AE2)](https://www.curseforge.com/minecraft/mc-mods/applied-energistics-2) (replacing Applied Energistics (1))
- [Atomic Science](https://ww

[2022-09-03 10:36] #39 closed

[2022-09-03 10:54] xJon commented on #41
Hey, thanks for the suggestions! I edited your message to rule out ones I strongly don't want to add to the pack (as this is mainly a sequel to the original Tekkit release, not the Tekkit re-release). It's still unlikely I'd add the others though, and if you're looking for a modpack that's more in-line with continuation to the Tekkit re-release, check out [my other modpack's mod list](https://www.

[2022-09-03 10:56] sqwyd commented on #41
Actually, I'd be happy even if it was just those two! Dimensional Doors is a good exploration mod in my eyes, and Treecapitator would be good for convenience.

[2022-09-03 10:58] xJon commented on #41
Neither are truly in the spirit of the original Tekkit release in my opinion? Maybe DimensionalDoors. I will keep this open for more people's opinions :)

[2022-09-03 11:06] xJon commented on #40
It seems to work fine if I reassign either the inventory sort key or the fire projectile key?

[2022-09-03 12:57] Fireflexor commented on #40
i also changed the inventory sort key and it worked fine, although i somehow turned a zombie into a horse which shouldn't be possible since they're in different pools for enemy randomisation

[2022-09-03 14:14] Taliviere4586 opened #42 "Creeper explosions and bounding boxes"
**Basic details**
- **Are you using a legitimate Minecraft account?**: Yes
- **Are you using Java 8, 64-bit?**:  Yes
- **Did you add any additional mods**: No
- **Crash/latest log link (if applicable)**: link to log / not applicable

**Describe the issue**

A clear description of what the issue is.
Upon a creeper explosion happening the server started freaking out and had continously spammee conso

[2022-09-03 14:31] xJon commented on #42
Please post the server log using https://mclo.gs/.

[2022-09-03 18:59] AngryCarrot789 opened #43 "CodeChicken PacketCustom not releasing ByteBuf"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**:

[code]

Every so often, the console would get the error message, at the top of the logs above. After turning on advanced leak detection (`-Dio.netty.leakDetection.level=advanced`), it seems like C

[2022-09-03 19:04] xJon commented on #43
This is a known issue which unfortunately will not get fixed (unless a new developer is able to).
https://github.com/TheCBProject/CodeChickenLib/issues/285

[2022-09-03 19:39] xJon commented on #1
Fixed in `1.0.1` thanks to @ACGaming :)

[2022-09-03 19:39] #1 closed

[2022-09-03 19:40] xJon commented on #2
Fixed in `1.0.1` thanks to @Rongmario :)

[2022-09-03 19:40] #2 closed

[2022-09-03 19:42] xJon commented on #4
Fixed in `1.0.1` thanks to @ThexXTURBOXx & @phantamanta44 :)

[2022-09-03 19:42] #4 closed

[2022-09-03 19:42] xJon commented on #6
Fixed in `1.0.1`.

[2022-09-03 19:42] #6 closed

[2022-09-03 19:43] xJon commented on #7
Resolved in `1.0.1`.

[2022-09-03 19:43] #7 closed

[2022-09-03 19:44] xJon commented on #12
Resolved in `1.0.1` thanks to @embeddedt's mixin fix, as a temporary solution until IC2C updates :)

[2022-09-03 19:44] #12 closed

[2022-09-03 19:46] xJon commented on #15
Resolved in `1.0.1` thanks to @ACGaming :)

[2022-09-03 19:46] #15 closed

[2022-09-03 19:47] xJon commented on #18
Included in `1.0.1`, thank you :)

[2022-09-03 19:47] #18 closed

[2022-09-03 19:48] xJon commented on #25
Included in `1.0.1` :)

[2022-09-03 19:48] #25 closed

[2022-09-03 19:48] xJon commented on #26
Included in `1.0.1` :)

[2022-09-03 19:48] #26 closed

[2022-09-03 19:49] xJon commented on #28
Fixed in `1.0.1`.

[2022-09-03 19:49] #28 closed

[2022-09-03 19:49] xJon commented on #29
Should be fixed in `1.0.1`.

[2022-09-03 19:49] #29 closed

[2022-09-03 19:49] xJon commented on #38
Fixed in `1.0.1`, thank you for the report :)

[2022-09-03 19:49] #38 closed

[2022-09-03 19:50] xJon commented on #40
Fixed (for new installations) in `1.0.1`, new default is `Y`.

[2022-09-03 19:50] #40 closed

[2022-09-03 19:50] xJon commented on #3
Closing due to inactivity, will reopen if requested.

[2022-09-03 19:50] #3 closed

[2022-09-03 19:50] xJon commented on #5
Closing due to inactivity, will reopen if requested.

[2022-09-03 19:50] #5 closed

[2022-09-03 19:51] xJon commented on #8
Closing due to inactivity, will reopen if requested!

[2022-09-03 19:51] #8 closed

[2022-09-03 19:51] xJon commented on #11
Closing due to inactivity, will reopen if requested!

[2022-09-03 19:51] #11 closed

[2022-09-03 19:51] xJon commented on #14
Closing due to inactivity, will reopen if requested!

[2022-09-03 19:51] #14 closed

[2022-09-03 19:51] xJon commented on #16
Closing due to inactivity, will reopen if requested!

[2022-09-03 19:51] #16 closed

[2022-09-03 19:51] xJon commented on #19
Closing due to inactivity, will reopen if requested!

[2022-09-03 19:51] #19 closed

[2022-09-03 19:53] xJon commented on #10
Can you reproduce this if you make sure to not maximize your window right before saving and quitting?

[2022-09-03 19:56] xJon commented on #33
Unfortunately this is not planned by IC2C to be fixed in 1.12, so I'll close this issue

[2022-09-03 19:56] #33 closed

[2022-09-03 20:10] ExtrymasLTU opened #44 "Copper Ore uses in Washing Factory crashes the game"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: https://mclo.gs/a93BYmH https://mclo.gs/rUordBw

**Describe the issue**

Looking at uses for Copper Ore and clicking on uses in Washing Factory crashes the game.
![564](https://user-images.githubus

[2022-09-03 20:17] xJon commented on #44
Thanks for the report! I can't reproduce this using the latest version of the modpack (`1.0.1`), neither on singleplayer nor multiplayer.
![image](https://user-images.githubusercontent.com/8945347/188286497-c8423c49-7047-452d-84b9-71ec005608e4.png)

[2022-09-03 23:18] ryanhaynes01 opened #45 "Forestry Farms can crash on the Moon"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  Yes
- **Are you using Java 8, 64-bit?**:  Yes
- **Did you add any additional mods**: No
- **Crash/latest log link (if applicable)**: https://mclo.gs/9CmcoFx

**Help needed**

I would like to keep my world but I literally cannot play. The second someone logs into the server, the crash occurs. Any advice is beneficial, this is a

[2022-09-03 23:23] xJon commented on #45
You can use `RestoreBackup.bat` to create a new world from the latest backup (it will be named `RestoredWorld`).
Can I ask how did you connect the Forestry farm to power? which cable?

[2022-09-03 23:32] TotallyNotAGhost opened #46 "Industrial Foreging Latex Processor Eats buckets"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**:  no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

if a latex processing unit has less than a bucket left of room in it's latex tank then putting a latex bucket in there will destroy the bucket.

https://www

[2022-09-03 23:39] rilliko opened #47 "Server crash when updating to 1.0.1"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

As title suggests, server complete crash when updating to 1.0.1 (something to do with FML security wrapper, no log available) additionally, when manually upd

[2022-09-03 23:45] xJon commented on #46
Huh. Any chance you can forward this report to this repository? https://github.com/eve0415/IFPatcher/issues

[2022-09-03 23:48] xJon commented on #47
Tis shouldn't happen when updating, as the block/item ID data cannot just change in an update (unlike old versions of modded Minecraft). This can only happen if your save got corrupted. Either way, can I ask why is a crash or latest log link not applicable?

[2022-09-04 00:01] ryanhaynes01 commented on #45
The GearBoxes were connected directly with LV RF generators, which were connected together with Glass Fibre Cables

[2022-09-04 00:03] xJon commented on #45
Strange, will look into the issue. Either way you should be able to restore a world backup :)

[2022-09-04 00:04] DatGurney opened #48 "MAtmos OS incompatibility crash"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: https://mclo.gs/G60t7QF
-  single player crash: https://mclo.gs/q1xInsY

Running on arch linux. My friend on windows did not seem to have an issue

**Describe the issue**

When trying to join a ser

[2022-09-04 00:06] xJon commented on #48
This is a bug with MAtmos that was reported over https://github.com/makamys/MAtmos/issues/24.
For now you can manually revert the mod's version to the previous one - you can get it from https://www.curseforge.com/minecraft/mc-mods/matmos/files/3949999.

[2022-09-04 00:20] SparksSkywere opened #49 "Galacticraft Rocket Despawns on server"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: https://www.skywereindustries.com/Downloads/Tekkit2/latest.zip
Edited: https://mclo.gs/atLp3vC

**Describe the issue**

Galacticraft rockets are launching but as soon as they hit the barrier for ma

[2022-09-04 00:29] rilliko commented on #47
Apologies Jon, I believe the issue might have been caused by /fml confirm not running on the server correctly - going to try launching the world in single player to process the fml changes then copying that world onto the server

[2022-09-04 00:35] TotallyNotAGhost commented on #46
I can repost this over there.

[2022-09-04 00:43] xJon commented on #49
Seems like an issue on servers only for some reason. Thanks for the report, hopefully will be able to resolve this soon.
For now, whoever is stuck in space, you can watch The Martian for inspiration. (or use `/forge setdimension`)

[2022-09-04 00:52] SparksSkywere commented on #49
I am the only one with OP and the owner, but before you commented he ended up becoming space debris and burned coming down back to sol.

pov the rest of the server watching him fall: https://www.youtube.com/shorts/Pji9fObpSpM

Thank you for the amazing reply, we all had a good laugh over it!

[2022-09-04 03:35] eve0415 commented on #46
Hello.

Thank you for reporting.
I've patched the issues and version 2.1.0 will be available at [CurseForge site](https://www.curseforge.com/minecraft/mc-mods/ifpatcher).

[2022-09-04 09:58] kssthmn commented on #41
Hey, what about tubestuff and redpower? 2 pretty big ones from my personal experience playing tekkit classic, tekkit legends, etc. The current Tekkit 2 version is a pretty cool direction, blending old and new, but i don't know, i'd love to see some more of the classic mods in there

[2022-09-04 12:11] ryanhaynes01 commented on #45
I just thought I'd update the issue. After I managed to get the world restore and kept resetting to world for some debugging, I found that it's an issue with using the Flux Generators. However, on Earth, this is how we managed to power the farms and everything was okay, so it might just be something to do with Flux Generators on Forestry farms in Galacticraft dimensions. This is, however, fixable

[2022-09-04 12:22] xJon commented on #45
@ryanhaynes01 I assume this is also due to this issue? https://github.com/xJon/Tekkit-2/issues/21

[2022-09-04 12:25] xJon commented on #41
@kssthmn Unfortunately both these mods are not available for 1.12.2.

[2022-09-04 12:26] sqwyd commented on #41
I think we already have Project Red in the mod in place of RedPower, but as for TubeStuff, that hasn't been updated since 1.7.2.

[2022-09-04 14:01] Ianshogren opened #50 "Suggestion: Reduce Marble Cave Resistance to -3"
Problem: Marble caves do not generate frequent enough.

Solution: Project Red has an integer being added to the base marble cave resistance suggesting that 0 is not the lowest value but rather -4. Upon testing more marble caves generate when the resistance is lowered.
Additionally, forking PR and modifying the cluster size and min / max Y produces larger and more frequent marble caves although thi

[2022-09-04 14:03] xJon commented on #50
This was actually an issue with the gem generation, which I ended up disabling in Project Red and using CoFH World instead. Didn't know negative values would be a workaround, will check it out!

[2022-09-04 14:10] Ianshogren commented on #50
Yes, but really only a quick glance with spectator mode and night vision. I have an local fork of PR with a modified clusterSize, max Y, and removed the resistance offset. Only modifying the resistance to negative values (such as -3 and -4) produces more frequent caves but they remain small. If you are not able to rebuild the mod I suggest play testing around with -3 and -4 to find something that

[2022-09-04 14:37] xJon commented on #50
@Ianshogren As the license is still not open I wouldn't consider forking and rebuilding but changing the configuration value to a negative one is an option as long as it doesn't present new issues.

[2022-09-04 16:02] ElVincenco opened #51 "Redstone Engines are not working"
**Basic details**
- **Are you using a legitimate Minecraft account?**: Yes
- **Are you using Java 8, 64-bit?**: Yes
- **Did you add any additional mods**: No
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Redstone Engines are not working and are looking upright when placed against a Quarry or other part. When you remove the Redstone engine the flying pixels ar

[2022-09-04 16:05] xJon commented on #51
They are unable to power a quarry, and the missing particle textures is a current issue with BuildCraft that's already known.
Thank you nonetheless for the report and feel free to get more help over https://discord.com/invite/technic for how to power a quarry!

[2022-09-04 16:35] thomasflrs opened #52 "Forge Mod Loader detected missing registry entries"
After updating Tekkit 2 to 1.0.1 and trying to start a world, I get the message "Forge Mod Loader detected missing registry entries."
![Screenshot (29)](https://user-images.githubusercontent.com/44059612/188323835-d7bdbe41-64b0-4600-b299-4fe81fbb39c6.png)

[2022-09-04 16:40] xJon commented on #52
You can safely press `Yes` and continue, those are simply no longer included :)

[2022-09-04 17:12] Pulz-TCP opened #53 "[1.0.1] [Server] Galacticraft Rockets break in space (invalid side SERVER)"
**Basic details**
- **Did you add any additional mods**: no

**Describe the issue**

Using the provided server download, fresh and unmodified:

As of the recent update (that is to say, this was not a problem previously), the rocket breaks in space at the point where it would otherwise bring up the planet selection GUI.
[Here](https://mclo.gs/NzlxBe0) is an error that appears in console at this tim

[2022-09-04 17:19] xJon commented on #53
https://github.com/xJon/Tekkit-2/issues/49

[2022-09-04 17:19] #53 closed

[2022-09-04 18:00] StarskyXIII opened #54 "Logistic Pipes doesn't work with Charset's barrels"
I tried to use Provider Logistics Pipe to extract items from barrels of Charset.
But it seems do nothing for me.
Then I tried to extract items from chest, it works well for me.
If Provider Logistics Pipe connect to barrels, it will cause other sides not work.

Test video
https://drive.google.com/file/d/16qWsMAotbdlMiaAZpR0OyeymWJRpKUG2/view?usp=sharing

Modpack version: 1.0.1

[2022-09-04 19:31] xJon commented on #54
Can you test whether this is still an issue in the `1.0.2` modpack update? :)

[2022-09-04 19:32] xJon commented on #46
Fixed in `1.0.2` thanks to @eve0415 :)

[2022-09-04 19:32] #46 closed

[2022-09-04 19:32] xJon commented on #50
Included in `1.0.2`, it seems to work well! Thanks again for the suggestion :)

[2022-09-04 19:32] #50 closed

[2022-09-04 19:35] xJon commented on #49
Fixed in `1.0.2` thanks to @ROMVoid95 and @ACGaming!

[2022-09-04 19:35] #49 closed

[2022-09-04 19:35] xJon commented on #48
Fixed in `1.0.2` thanks to @makamys :)

[2022-09-04 19:35] #48 closed

[2022-09-04 20:10] StarskyXIII commented on #54
Yes, it is still an issue.

[2022-09-04 20:17] xJon commented on #54
Do you play singleplayer? Can you share your game log from that session? You can use https://mclo.gs/

[2022-09-04 20:21] xJon commented on #54
Also, as a workaround you can try to use the Black Hole Units from Industrial Foregoing.

[2022-09-04 20:33] StarskyXIII commented on #54
This is my [debug.log](https://mclo.gs/ab1yLQs) at that time.

This issue happen in both side.
And it works well with Black Hole Units & Controller 2.0

[2022-09-04 20:38] xJon commented on #54
Could you also attach the `latest.log`?

[2022-09-04 20:40] StarskyXIII commented on #54
https://mclo.gs/H1cQRuW

[2022-09-04 20:42] xJon commented on #54
I don't see anything particular about it in the game log but I will forward this incompatibility, thanks for the report!

[2022-09-04 20:43] ljboxf opened #55 "Missing Map?"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: yes (detail) no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**
Upon updating to the latest release of tekkit 2 it seems like there's a few issues with the map.

A clear description of what the issue is.
https

[2022-09-04 20:44] xJon commented on #55
Does this still happen if you reenter your world?

[2022-09-04 20:45] ljboxf commented on #55
Just going to give it a go

[2022-09-04 20:47] ljboxf commented on #55
Ah seems like after reentering it's working all fine and dandy

[2022-09-04 20:47] #55 closed

[2022-09-04 20:48] xJon commented on #55
In case this happens again, feel free to reopen the issue and provide a game log :)

[2022-09-05 08:56] kssthmn commented on #41
man that's unfortunate. could the crafting table from logistics pipes act as a replacement to the automatic crafting table mk2?

[2022-09-05 18:14] wiglet1 opened #56 "Loot Ball (Project E)"
In previous versions of Tekkit, tools such as the destruction catalyst from Project E/Equivalent Exchange would take all items mined and condense them into a single black orb called a loot ball. Without this, all items mined are scattered at your feet which causes a considerable amount of client side lag.

[2022-09-05 18:27] xJon commented on #56
I wouldn't call it a bug but a missing feature from Project E in 1.12.2. Not sure if it's a feature in other versions of Project E.

[2022-09-06 01:30] xTakeAwaytjuhx opened #57 "Crash Issue on tekkit 2"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: https://mclo.gs/9lbvyoN

**Help needed**

So whenever I am playing Tekkit 2 on a server I sometimes randomly crash for no reason as far I am aware of, it happens on any random moment not when doing

[2022-09-06 01:53] xJon commented on #57
Strange, not much can be learned from the crash report. Did you happen to change any settings for the minimap (e.g. enabling the mob radar)?

[2022-09-06 02:08] xTakeAwaytjuhx commented on #57
Nope, I reinstalled the modpack too and the issue keeps appearing for me, but I always can take a second look at my settings.

[2022-09-06 02:19] xJon commented on #57
Can you reproduce the issue in any way? Is it only happening on one server?
Perhaps you can try to manually remove the minimap mod and see if you can reproduce the issue?

[2022-09-06 02:25] xTakeAwaytjuhx commented on #57
As far I am aware of not, It only happened to me at random intervals and even when I am just afk, so I don't think there is any way I can reproduce the issue. But i'll try removing the minimap and see if it keeps happening after.

[2022-09-06 02:29] Taliviere4586 commented on #57
is this the unknown mod error?  ive been getting it all day today specifically when teleporting.

[2022-09-06 02:38] anqu0re opened #58 "Project Red Relocation crashes"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**:
Crash log: https://mclo.gs/oqWwdWZ
Crash Report: https://mclo.gs/APivBMd
Log when blocks break: https://mclo.gs/jBsrSih

**Describe the issue**

I am attempting to make a moving platform using fram

[2022-09-06 03:18] xTakeAwaytjuhx commented on #57
Yea it is, but for me it isn't with teleporting, it's fine for now tho been playin' fine for over an hour now.

[2022-09-06 09:03] ElVincenco opened #59 "Server don't start after updating to version 1.0.2"
**Basic details**
- **Are you using a legitimate Minecraft account?**: Yes
- **Are you using Java 8, 64-bit?**: Yes
- **Did you add any additional mods**: No
- **Crash/latest log link (if applicable)**: https://mclo.gs/aXtyfJQ

**Help needed**

Played only on version 1.0.1 before. Created a backup, downloaded the version 0f 1.0.2 and extracted the zip. Restarted the server but now it won't start.

[2022-09-06 13:18] xJon commented on #57
@xTakeAwaytjuhx So is it not happening without the minimap mod installed?
@Taliviere4586 Can you try to manually remove the minimap mod and try to reproduce it?

[2022-09-06 13:21] xJon commented on #59
Seems like the installation is gone wrong, how did you update the server?
You'd need to extract the zip, copy over the world and use the launch script.

[2022-09-06 13:26] Vleupold commented on #59
I use AMP as hosting tool on a LinuxVM. I stoped the server, copied the zip, unziped it and startet the LaunchServer.sh

[2022-09-06 13:32] xJon commented on #58
Unfortunately Project Red Relocation is indeed not stable for 1.12.2. Thanks for the reports.
If you have any configuration change suggestions, let me know!

[2022-09-06 13:39] xJon commented on #54
Further testing shows that Charset barrels have specific sides for insertion and extraction: extract from bottom, insert to top or back side. This can probably be changed with a future Logistics Pipes update but I wouldn't consider it to be a bug :)

[2022-09-06 13:39] xJon commented on #59
Copied which zip?

[2022-09-06 13:40] Vleupold commented on #59
The ZIP from the new server files

[2022-09-06 13:41] xJon commented on #59
Did you copy over the previous world folder? Just making sure you didn't use a backup zip file, as they are not meant to be extracted.

[2022-09-06 13:44] Vleupold commented on #59
Nope. I got my folder called tekkit2 inside is the Server stuff from the ZIP and my world folder. I just copied the new server ZIP inside there, extracted it and tried to restart it with the new update

[2022-09-06 16:13] Taliviere4586 commented on #57
https://mclo.gs/EeCvfz8 Client crash report
https://mclo.gs/PFJCMMT Server log of when i crash
Not just teleporting more specifically loading in logistics pipes chunk wise

[2022-09-06 16:27] xTakeAwaytjuhx commented on #57
@xJon so far yea, but if I run into the issue again I'll let you know.

[2022-09-06 19:50] Yuzeen opened #60 "Geothermal Generator and Pipe Interactions"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Help needed**

It seems like geothermal generators isn't accepting lava cans/lava buckets. I've tried using redstone engine w/ wooden extraction pipe and placed pipes going into t

[2022-09-06 20:43] xJon commented on #60
I'm pretty sure it needs to accept them from a specific side? I remember players discussing the correct way of doing this over Technic's channel, perhaps you could ask there, but there shouldn't be a known issue :)

[2022-09-06 21:08] Yuzeen commented on #60
Hi,

Thank you for your reply! I tried every side and unfortunately no results. Weird since this method works with every other ic2 machine i've tested except for geothermal

[2022-09-06 21:16] xJon commented on #60
I think they only accept liquid lava actually, you can use a Forestry Bottler to empty lava cells/buckets. There are more creative ways of doing it though, you can ask over Discord :)

[2022-09-06 21:39] Alicast1 opened #61 "Logistic Pipes and Industrial craft interaction not working"
- Are you using a legitimate Minecraft account?  yes
- Are you using Java 8, 64-bit? yes
- Did you add any additional mods**:  no
- Crash/latest log link (if applicable)**: not applicable

There is any reason why the logistic pipes doesnt work with industrial craft machines?
We were trying to supply macerator and electric furnace with ores from chest with provider pipes attached to them and the su

[2022-09-06 21:41] Alicast1 commented on #61
We are playing in a multiplayer server with the version 1.0.2.

[2022-09-06 22:21] xJon commented on #36
Should be fixed in `1.0.3` thanks to @bziemons :)

[2022-09-06 22:21] #36 closed

[2022-09-06 22:21] xJon commented on #32
Should be fixed in `1.0.3` thanks to @bziemons :)

[2022-09-06 22:21] #32 closed

[2022-09-07 01:58] leafnie opened #62 "Cable and machines positions reset after going to the nether."
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**:  no
- **Crash/latest log link (if applicable)** not applicable

**Describe the issue**

When coming back from the nether, all the cables and machines I had were "reset" in orientation. Had to break and replace a few cables to get them working -

[2022-09-07 02:00] xJon commented on #62
Did a relog solve it?
Can you provide a full game log from that session using https://mclo.gs/ ?

[2022-09-07 02:59] anqu0re commented on #58
I have done some testing/searching and I found this thread discussing the problem in a different mod pack: https://github.com/MrTJP/ProjectRed/issues/1568
Following what they did I removed the Logistic Pipes mod and that fixed the issue of the forge multipart blocks deleting themselves shortly after movement. However, I still had the issue with the structure sometimes glitching out during movement

[2022-09-07 03:46] xJon commented on #58
@anqu0re Can you test update `1.0.3` of the modpack with Logistics Pipes installed and report whether the issue is still happening?

[2022-09-07 04:44] anqu0re commented on #58
I tested the 1.0.3 update and the issue of the forge multipart blocks deleting themselves is still occurring. The log is here if that helps: https://mclo.gs/w08rDlt
Also worth noting is that while my structure is a somewhat complex example, any amount of movement will cause the bug to occur. I was able to trigger the bug by placing a couple of frames in a row, filling some of the frames with panel

[2022-09-07 05:38] Lumpous commented on #58
Looks like an incorrect build of that machine in cooperation with forge settings:
B:removeErroringEntities=true
B:removeErroringTileEntities=true

At first:
Frames have the function to pull anything that they are touching - unless you place a tile on them.
All those cables attached to a tile are not considered a part of the structure, unless you place a nother frame directly next or above them.
Th

[2022-09-07 05:43] Lumpous commented on #56
The Gem of Eternal Density is a tool added by ProjectE. It is used to turn items with a lower EMC than the target into Iron, Gold, Diamonds, Dark Matter, or Red Matter. It does this only while active and on the user's hotbar.

https://ftb.fandom.com/wiki/Gem_of_Eternal_Density_(ProjectE)

[2022-09-07 08:10] SparksSkywere opened #63 "Mod addition question"
Hello,

Just wandering what the stance on adding certain mods to the pack that would make sort of sense to tekkit, I know there are hundreds of other packs out there with mods already but I am just wandering what ideas / additions maybe done to tekkit for the future.

I also would ask if a mod I used a lot back when tekkit was in use (injected into my own servers for friends) "Refined Storage" not

[2022-09-07 08:43] Lumpous commented on #59
By doing so you run the risk mods, that do contain their version number within their filename, are now there multiple times.

Avoid this by always placing server updates always in a new folder and move the old world into the new folder.

[2022-09-07 08:45] ElVincenco commented on #59
Ah yes i understand. I thougt Ubuntu would overwrite them but maybe there are some failures happening. I will follow your Tip with just creating a new Folder! Thank you

[2022-09-07 08:45] #59 closed

[2022-09-07 09:12] Lumpous commented on #59
Ubuntu handles the files as expected.
Same filenames will be overwritten, new files will be simply added to the folder then.
That happens when mods in new versions are included then. 😉

[2022-09-07 09:14] ElVincenco commented on #59
But then i dont understand why this crash happend... But its fine world not gone and just created the server new as you mentioned !

[2022-09-07 09:16] Lumpous commented on #63
Tekkit 2 already includes 2 mods that can handle storage management to an extend.
Logistics pipes and project red.

Refined storage is a good mod, but another mod for storage management feels odd.
Also the RF theme does not really fit to tekkit 2.
Personal opinion of mine.

[2022-09-07 09:26] Lumpous commented on #59
Assuming from version 1.0.1 to 1.0.2 buildcraft has updated.
In version 1.0.1 there was bc_v1000.jar
In version 1.0.2 there was bc_v1001.jar

If you simply unpack the new mod pack version, you would end up having both versions of buildcraft within the mods folder then.
The one from v1.0.1 and the new one from v1.0.2

That will cause a crash.

[2022-09-07 09:35] ElVincenco commented on #59
Now i understand what you mean! Yes that makes sense. Thanks for your help! maybe an update script would be nice so you don't have to move the world folder and create a "new" server every time

[2022-09-07 10:31] SparksSkywere commented on #63
Fair enough, just mostly a question to see what others thought, doesn't stop me making changes to the modpack my end on the server but just thought on it while going through the list of additions.

[2022-09-07 11:35] xJon commented on #58
@Lumpous But it seems it also has something to do with Logistics Pipes being installed?

[2022-09-07 11:37] xJon commented on #63
Yeah well said by @Lumpous, but feel free to make changes on your end and play the game however you want :)

[2022-09-07 11:52] Lumpous commented on #58
I for now don't see how LP would interact here or even be the cause.
On that screenshot i can't find any LP items or blocks used - but i'll find out once home and rebuild such a moving structure.

[2022-09-07 13:27] embeddedt commented on #62
Does this only happen to IC2 items? There is a long-standing IC2exp bug on 1.12 where cables disconnect after changing dimensions/reloading, it may affect Classic too.

[2022-09-07 13:48] Lumpous commented on #62
I can confirm this is happening from Packversion V1.0.0 on until V1.0.3 on Servers everytime Dimensions are changed.
Thankfully it appears to be only a visual glitch not affection connections and power-transportation.
EU-Reader confirmed functionality of those visually disconnected cables.
Relog into the server solves this issue.

[2022-09-07 13:49] xJon commented on #62
I tested this on a local server going in and out of a Nether portal and couldn't reproduce this, the cables took maybe half a second and then they updated properly. Strange.

[2022-09-07 16:42] wiglet1 commented on #56
With all due respect, Lumpous, this is pretty much irrelevant since the lag spike occurs from the dropping of hundreds of blocks at the player’s feet. The gem of eternal density only condenses the items once they are in the inventory. It doesn’t solve the problem unfortunately.

[2022-09-07 17:00] SkylordMinecraft opened #64 "Launching Error"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes 1.8.0_341 64 -Bit
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: Heres the techinc launcher log: https://pastebin.com/wy54guP2
**Describe the issue**

When clicking play from the technic launcher, After it gets to "Examining Java Runtime" It do

[2022-09-07 17:14] xJon commented on #64
Seems to have been a temporary issue with Technic or Minecraft, has nothing to do with Tekkit 2, it should work now. Thanks either way for the report!

[2022-09-07 17:16] SkylordMinecraft commented on #64
idk how to close an issue ;-;

[2022-09-07 17:16] #64 closed

[2022-09-07 17:23] xJon commented on #64
Good job :)

[2022-09-07 17:48] Lumpous commented on #56
I'm sorry, but it is very much relevant to your question.
If you had taken a closer look at the given page, you would have noticed that there is one item that is very suitable for combination: the Black Hole Band.

https://ftb.fandom.com/wiki/Black_Hole_Band_(ProjectE)

Since the loot ball is not available, this would be the only way to suck in items AND condense them - however, you would now have

[2022-09-07 19:22] leafnie commented on #62
Fixed itself after a game reboot.

[2022-09-07 19:22] #62 closed

[2022-09-07 19:35] Jaari commented on #62
Oh, didn't expect to see that issue again, back in 1.6.4 you had this as well, but it was actually all disconnected.

[2022-09-07 20:17] Speiger commented on #61
@Alicast1 can you show a example image of the setup?
That way I can tell you what you are doing wrong.

[2022-09-07 20:21] Speiger commented on #60
Looks like i wanted to discurage item insertion and "Disabled" the fluid slot by default.
Though it looks like you can enable it via machinetool with a automation upgrade.

[2022-09-08 02:51] wiglet1 commented on #56
I have the black hole band, unfortunately it just expands the range from which the player can pick up item-drops and doesn't place the items directly into the player's inventory. In fact, if you read the article that you linked you will find it even says so.

So, items are still dropped at the player's feet, yielding a major lag spike. i.e. neither the black hole band nor the gem of eternal densit

[2022-09-08 20:29] ElVincenco opened #65 "Induction Furnace second output slot not served from Logistic pipe"
**Basic details**
- **Are you using a legitimate Minecraft account?**:yes
- **Are you using Java 8, 64-bit?**: Yes
- **Did you add any additional mods**: No
- **Crash/latest log link (if applicable)**:  not applicable

**Help needed**

Every IC2 device with 2 output slots has a problem. The second output slot get not cleared by a Logistic pipe. Is this a bug or do i need a IC2 upgrade for this to

[2022-09-08 21:03] negative-seven opened #66 "Forestry Bio Generators not usable"
(posted by rythin-sr, but on wrong account)

**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**:not applicable

**Describe the issue**

Forestry Bio Generators seem to produce EU with a bugged voltage, blowing up any machine it's connected to, inclu

[2022-09-08 21:22] Lumpous commented on #65
Extracting from the secondary output works.
However, there seems to be a limit to how many actions LP can perform in a given time on a pipe, which can make it appear not to work for fast processes like the induction furnace.

This limit needs to be raised by using modules on the pipe.

I have tried to create a setup to show how this is done:
https://lumpous.de/tekkit2_65.mp4

This is an induction

[2022-09-08 21:49] ElVincenco commented on #65
Wow! Your Factory looks really nice! Thanks for the tipp i will craft the upgrades directly!
Really hopefull!

[2022-09-08 21:54] DatGurney commented on #54
It seems that Logistics pipes also doesnt detect more than one stack in the barrel. Each item in my LP system is only showing 64 that is within a barrel. This is with a provider pipe on the bottom and an itemsink module on the top. These both pull and push fine

[2022-09-09 08:29] hhans3n opened #67 "BuildCraft fluid transport pipes & Binnie's Extra Trees not working?"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Help needed**

I can't seem to get BuildCraft fluid transport pipes to work with things like Binnie's distillery and juice press, and I am unsure how else I can get fluids out of

[2022-09-09 09:52] PaziGamer commented on #67
Are you sure you use the wooden fluid pipes with redstone engines attached to them, to pump the liquid out from the tanks or machines? They work for me just fine with the Binnies machines, before and after the last update.

[2022-09-09 10:16] hhans3n commented on #67
Thank you so much! I have been going crazy trying to figure this out.

[2022-09-09 13:20] HDR opened #68 "Metal Posts from Railcraft are missing the recipes for recoloring"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

The recipes needed to recolor Railcraft metal posts are missing, you can craft the black metal posts, but they can not be recolored, the intended recipe seems to be to surround a pi

[2022-09-09 15:17] Lumpous commented on #61
Most probably you're just missing the automation upgrade inside the IC2C machine.
https://gyazo.com/3584b9f9c85ab9841175c28c5dac6e37

[2022-09-09 23:29] xJon commented on #54
@DatGurney In that case, could you report that over Logistics Pipes' issue repository (https://github.com/RS485/LogisticsPipes) maybe with some extra detail, as a feature request? Thank you :)

[2022-09-09 23:38] SparksSkywere opened #69 "Random Railcraft crashes (Client)"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: https://mclo.gs/6zQJT4D

**Describe the issue**

Randomly while on my server this crash report comes up, I can go back to the main menu  and return to the server, so it does appear to be client onl

[2022-09-10 05:42] ACGaming commented on #69
The crash report is mentioning a Railcraft Void Chest at the coordinates -17, 69, 367. Can you try replacing/relocating it and see if the issue persists?

[2022-09-10 08:10] #65 closed

[2022-09-10 08:12] ElVincenco opened #70 "Request logistic pipes"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**:  no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

The Request logistic pipe sometimes not deliver the items. When requestet you see them comming trough the pipe but they just disapear and are not in the c

[2022-09-10 10:46] SparksSkywere commented on #69
I removed the chest indefinately as it keeps crashing even replaced.

[2022-09-10 12:42] SparksSkywere commented on #69
Whelp it happened again but this time is unknown: https://mclo.gs/NjWNsR5

Also I like how it says I am using windows 8,1 but in reality I am on windows 10

[2022-09-10 14:11] xJon commented on #69
@SparksSkywere Can you report all of your crash reports after removing the chest?
Also, can you report whether the crash is still happening without the minimap mod installed?

[2022-09-10 14:13] xJon commented on #70
Could you report this in detail directly to the mod author? Over https://github.com/RS485/LogisticsPipes/issues

[2022-09-10 14:15] xJon commented on #57
@xTakeAwaytjuhx Is this issue still happening?

[2022-09-10 14:23] ElVincenco commented on #70
Will do, thanks! Did you disabled the RF pover provider and Pipe modules for this modpack or is this from the Logistic Pipe team disabled?

[2022-09-10 14:25] xJon commented on #70
It was never implemented in 1.12.2 unfortunately, but hopefully will be enabled in a future update!

[2022-09-10 14:26] ElVincenco commented on #70
Ah okay! Yes this would be verry nice

[2022-09-10 15:49] SparksSkywere commented on #69
Logs from my client in a Zip file: https://www.skywereindustries.com/Downloads/Tekkit2/Clientlogs.zip As of right now I have not done anything to the minimap

[2022-09-10 16:04] xJon commented on #69
Those crash reports still mention a Railcraft Void Chest at the coordinates `-17, 69, 367`?

[2022-09-10 16:26] ACGaming commented on #69
@SparksSkywere You‘d need to actually place another block there or even replacing and breaking the void chest to toggle a block update at this position if it still gets mentioned in crash reports!

[2022-09-10 16:28] SparksSkywere commented on #69
I have deleted the chest, replaced its block area, waiting on a crash.

[2022-09-10 17:46] xJon commented on #68
This is caused by https://github.com/Railcraft/Railcraft/issues/2042, and will get fixed once Railcraft has a new release thanks to https://github.com/Railcraft/Railcraft/pull/2049. Thanks nonetheless for reporting this!

[2022-09-10 17:51] xJon commented on #42
Closed due to inactivity. Will reopen if requested!

[2022-09-10 17:51] #42 closed

[2022-09-10 17:51] xJon commented on #44
Closed due to inactivity. Will reopen if requested!

[2022-09-10 17:52] #44 closed

[2022-09-10 17:52] #47 closed

[2022-09-10 17:53] #52 closed

[2022-09-10 17:53] #51 closed

[2022-09-10 21:44] SparksSkywere commented on #69
After a few hours of playing, some mods disabled and had others sending me logs in the last few hours, have fun with the logs, hope I am not being annoying too much!

Had others crash, their logs are:
https://mclo.gs/5BGP1dn
https://mclo.gs/OcWwrYn
https://mclo.gs/SPCcMOh
https://mclo.gs/3p4ZQzO

My logs again:
https://mclo.gs/bx97kWM
https://mclo.gs/yD2d4Lv
https://mclo.gs/yWzcKC8

[2022-09-11 05:06] soratidus999 opened #71 "VoxelMap World Map chunks are black if they contain endertank <> BC stone fluid pipe <> geothermal generator"
**Basic details**
- **Are you using a legitimate Minecraft account?**: Yes
- **Are you using Java 8, 64-bit?**: Yes
- **Did you add any additional mods**: yes (detail)
Optifine
- **Crash/latest log link (if applicable)**: link to log / not applicable
https://mclo.gs/cMR0beD

Blocks that cause issue
https://i.imgur.com/DJ77mrJ.png

Map with unmapped chunks
https://i.imgur.com/pQCIJLm.png

Map with

[2022-09-11 05:17] soratidus999 commented on #71
I have tried to ignore `buildcrafttransport:*` and `enderstorage:*` (as ic2:* is already ignored) with VoxelMap-Fixes with no change,

[2022-09-11 09:33] ACGaming commented on #71
Known and intended in the current state to prevent any hard crashes. VoxelMap is undergoing several rewrite measures with [VoxelMap Fixes](https://github.com/ACGaming/VoxelMapFixes) to bring it in line with modded environments.
Looks like old caches in this case, make sure to wipe your VoxelMap cache folder in advance and share the first occurring issues.

[2022-09-11 09:39] tobylee1112 opened #72 "Transporting Forestry Saplings through certain BuildCraft pipes causes world corruption"
**Basic details**
- **Are you using a legitimate Minecraft account?**: Yes
- **Are you using Java 8, 64-bit?**: Yes
- **Did you add any additional mods**: No
- **Crash/latest log link (if applicable)**: https://pastebin.com/y2uQfcQr

**Describe the issue**

I transported Apple Oak Saplings from the Forestry mod using the Diamond Transport Pipe from BuildCraft. Upon doing so my game crashed and my

[2022-09-11 10:33] #70 closed

[2022-09-11 14:55] doublehdx opened #73 "Black Hole Unit from Industrial Foregoing not usable with Item Translocators from Translocators"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**:   no

**Black Hole Unit not accepting items from Translocators**

If i try to get Item from a Storage Solution to the Black Hole Unit with Translocators it only allows to transfer one item. After that it is not able to transfer more.

[2022-09-11 15:04] xJon commented on #72
Can you reproduce this behavior?

[2022-09-11 16:08] xJon commented on #66
Can you reproduce this issue with only Forestry and Industrial Craft Classic installed?
If so, can you also with IC2 Experimental?

[2022-09-11 16:11] xJon commented on #73
If you think this is an issue with the BHU from IF, you can try to report it to [IFPatcher](https://github.com/eve0415/IFPatcher/issues), but if it's an issue with the Translocators unfortunately I'm not sure that mod is still in active development but you can try to report it over https://github.com/TheCBProject/Translocators/issues.

[2022-09-11 16:49] tobylee1112 commented on #72
Yes, I tested it on a new creative world with the same setup. I tried also it with only wooden pipes and it had no issues. Only when I switched to diamond pipes and it corrupted the world.

[2022-09-11 17:05] #73 closed

[2022-09-11 17:22] ACGaming commented on #71
@soratidus999 Issue should be fixed with the [latest build of VoxelMap Fixes](https://github.com/ACGaming/VoxelMapFixes/releases/download/1.12.2-1.0.6/VoxelMapFixes-1.12.2-1.0.6.jar). Can you test it again with it?

[2022-09-11 17:25] xJon commented on #72
Can you please report this in detail over https://github.com/BuildCraft/BuildCraft/issues ?

[2022-09-11 17:29] Lumpous commented on #72
I tested it with unidentified saplings from forestry and binnies extra trees in creative.
Result is the diamond pipe from BC is unable to sort them at all - at least without any crashes.
https://lumpous.de/tekkit2_72.mp4

java version "1.8.0_271"
Java(TM) SE Runtime Environment (build 1.8.0_271-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.271-b09, mixed mode)

forestry_1.12.2-5.8.2.422.jar
bin

[2022-09-11 17:45] Lumpous commented on #72
https://github.com/BuildCraft/BuildCraft/issues/4683#issue-1369015542

[2022-09-11 18:05] tobylee1112 commented on #72
Here's the video of how I reproduced the corruption: https://youtu.be/Ckp0g1TXmts

[2022-09-11 18:06] lividsubset3 commented on #67
Buildcraft got updated if you want a more advanced setup and more compact use the pulsator from buildcraft silicon. They act as a red stone engine and can be toggled manually or with gates.

[2022-09-11 18:10] SparksSkywere commented on #69
Removing the map did not work, computers still crashed.
So a day of testing with lots of ideas and going through many things, we have found some culprits to the issue

- Player models are spawned multiple times and classed as "Unknown" which causes the crashes, such as the one provided by a player: Retry entities: 3 total; [EntityLatchedRenderer['unknown'/2101909, l='MpServer', x=-1.76, y=64.00, z

[2022-09-11 18:37] Lumpous opened #74 "Adjusting EMC-Value of Oranium Ore"
Considering the fact that uranium ore has an EMC value of only 2048, and the fact that "near-depleted uranium cells" can be
which can then be used in a breeder reactor, this low EMC value is not correct.

Using 1 uranium will produce 8 near depleted rods + 1 uranium cell = 8 uranium cells (so a bit of coal dust is needed).

So it seems to me that an increased value *8 is more correct.
*7 also seem

[2022-09-11 18:51] xJon commented on #74
So you're saying that the EMC value of uranium is too cheap for the amount of energy it provides?
I think I'll probably adjust it to match the Tekkit Classic value of 4096 EMC.

[2022-09-11 19:07] xJon commented on #69
@SparksSkywere Does disabling `enableLatchedRendererSpawn` over the `ichunutil.cfg` file have any effect on this?

[2022-09-11 19:26] xJon commented on #72
@tobylee1112 Can you report that over https://github.com/BuildCraft/BuildCraft/issues as a separate issue?

[2022-09-11 20:10] Alicast1 commented on #61
We tried that too and it didnt work.
Here is a video showing how its working on normal furnaces but not in macerator or electric furnace.
https://drive.google.com/file/d/1BzIjumGlvzO_WbZ0imIaxL8DmI-ZARmp/view?usp=sharing

[2022-09-11 21:27] Speiger commented on #61
Wow that video was uncompressed.. 123MB for 90 seconds?
Ignoring that does a hopper work?
This is really interesting! I have no idea why it isn't working..

[2022-09-11 22:27] SparksSkywere commented on #69
Still got the crash even with the enableLatchedRenderSpawn set to 0 on the client side.

So I assume it is to do with GCEntitiyOtherPlayerMP

[2022-09-11 22:39] laylovv opened #75 "ReAuth Login issue"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**:  no

**Describe the issue** when i try to do the reauth login it wont let me and keeps saying login failed - please try again

[2022-09-11 22:50] xJon commented on #69
In this case, can you report this issue over https://github.com/TeamGalacticraft/Galacticraft-Legacy/issues with all of the information you collected during troubleshooting?

[2022-09-11 22:51] xJon commented on #75
It's been working fine for me, did you migrate your account to a Microsoft account?

[2022-09-12 07:35] lividsubset3 opened #76 "[Suggestion]: Railcraft Liquid Fuel Boiler - Fuel Type"
In buildcraft you can pump oil,  "crack" it into is sub properties and use.

If it would be possible to have the liquid fuel boiler accept these types of fuel? Not just ethanol.

It would be nice to get a steam setup with the use of oil. And not just use liquid fuel generator. For both power generation and separate use for steam.

Ps. Love the pack, some great work. From my 2 days of game time alr

[2022-09-12 09:48] ACGaming opened #77 "IC2 recipe for IF plastic"
An IC2 rubber furnace recipe for IF plastic would be very handy because it‘s annoying to handle rubber production twice for different mods.

[2022-09-12 10:23] ElVincenco opened #78 "Regular server crashes with version 1.0.4"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**:  no
- **Crash/latest log link (if applicable)**: [link to log](https://mclo.gs/WpR1rSZ)

**Describe the issue**

Server crashes randomly during playing. Logs says something about ViewEMC Error.

[2022-09-12 10:29] ElVincenco opened #79 "[Suggestion] OpenPeripheral"
The OpenPeripheral mod is great for the CC plugin. It would be nice to see this addon so you can create smart logics with computers

[2022-09-12 10:33] Lumpous commented on #77
The recipe to burn IC2C rubber down to plastic was removed on purpose.

[2022-09-12 13:45] xJon commented on #79
OpenPeripheral is for Minecraft 1.7.10 - but we have [Plethora Peripherals](https://www.curseforge.com/minecraft/mc-mods/plethora-peripherals) :)

[2022-09-12 13:45] #79 closed

[2022-09-12 13:47] xJon commented on #78
There's no crash report in that log - you can find them in the `crash-reports` folder.

[2022-09-12 14:57] xJon commented on #78
Seems like it timed out - you'd need to profile your server and find out what's causing it. Unfortunately I don't have much experience running servers so I don't know how to help beyond that.

[2022-09-12 15:01] xJon commented on #77
As @Lumpous mentioned it's actually intentional to encourage separate progress for both mods, as by default their rubbers are ore dictionaried!
I think it's better to encourage players to fetch both types of rubber separately, but I can leave this open for discussions and opinions of other players

[2022-09-12 15:17] laylovv commented on #75
might be the issue will try to look into it thanks for the help otherwise tho. :)

[2022-09-12 15:21] xJon commented on #76
I don't believe it's possible to use all the BuildCraft oil/fuel types - this would require special integration from Railcraft? I don't have much experience with this but feel free to discuss this over Railcraft's [issue repository](https://github.com/Railcraft/Railcraft/issues) or [Discord](https://discord.gg/VyaUt2r) :)

[2022-09-12 15:37] ACGaming commented on #77
Weird flex but okay.

[2022-09-12 16:32] xJon commented on #54
Will be included in the next pack update thanks to https://github.com/RS485/LogisticsPipes/commit/78cc088c9cb8420e918bd2928eafd4c2887242e5

[2022-09-12 16:34] xJon commented on #71
@soratidus999 This should be fixed with https://github.com/ACGaming/VoxelMapFixes/releases/tag/1.12.2-1.0.6, if you want you can already check it out :)

[2022-09-12 16:39] b9005910 opened #80 "New EMC values for Quark and Railcraft Items"
I would like to suggest new EMC values for world generation items in Quark and RailCraft.

Quark:
- Cave Crystals - Decorative Item - Found in Crystal Caves - EMC value would be high due to rarity. Or make the caves rarer to justify high EMC. Don't give crystal sheets emc values. Same idea as glass panes.
-  Elder Prismarine - Decorative Item - Found rarely underwater - double EMC value of regular

[2022-09-12 16:40] #80 closed

[2022-09-12 16:42] b9005910 opened #81 "Suggestion: New EMC values for world generation items in Quark and RailCraft"
I would like to suggest new EMC values for world generation items in Quark and RailCraft.

Quark:
- Cave Crystals - Decorative Item - Found in Crystal Caves - EMC value would be high due to rarity. Or make the caves rarer to justify high EMC. Don't give crystal sheets EMC values. Same idea as glass panes.
-  Elder Prismarine - Decorative Item - Found rarely underwater - double EMC value of regular

[2022-09-12 18:23] xJon commented on #81
Good suggestion, although for now I might keep it as is as in my eyes these blocks are rare world generation first and decorative second.
More opinions are welcome!
(Also, anyone who already wants these to have an EMC value can do it in-game with `/projecte setEMC`)
Also, what's quarried stone? I can't find what you're referring to.

[2022-09-12 19:03] ElVincenco commented on #78
Ok! Thanks for your help anyway

[2022-09-12 19:03] #78 closed

[2022-09-12 19:46] Alicast1 commented on #61
Sorry for not compressing it. Totally forgot hahaha. Dont know if a hopper work, it doesnt fit our necessity so we didnt tried it. But i think this should work, i have done it in tekkit long time ago.

[2022-09-12 20:40] xJon commented on #81
Added in `1.0.5` :)

[2022-09-12 20:40] #81 closed

[2022-09-12 20:41] xJon commented on #71
Should be fixed in `1.0.5` :)

[2022-09-12 20:41] #71 closed

[2022-09-12 20:41] xJon commented on #54
Should work in `1.0.5` :)

[2022-09-12 20:41] #54 closed

[2022-09-12 20:44] xJon commented on #74
Changed in `1.0.5` :)

[2022-09-12 20:44] #74 closed

[2022-09-12 22:46] PawnixHere commented on #60
Will enabling it with a machine tool with an automation upgrade allow logistics pipes to feed lava cells into them?

[2022-09-12 23:17] PawnixHere opened #82 "Grammar issues with advancement descriptions and titles"
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

**BuildCraft -> How does this work again? -> Iron helmet**
Iron helmet is missing a title and description. Defaulting to "advancements.buildcraftcore.goggles.description" & "

[2022-09-12 23:30] xJon commented on #82
These things should be discussed directly with mod authors, so feel free to discuss it respectively over https://github.com/BuildCraft/BuildCraft/issues and https://github.com/TinyModularThings/IC2Classic/issues.

[2022-09-12 23:33] PawnixHere commented on #82
I wouldn't consider this a question, but you know best, chief.

[2022-09-12 23:35] xJon commented on #82
I changed the label to a `question` because I'm reforwarding your feedback regarding the advancements.
If you have feedback about the label you can feel free to make a suggestion :)

[2022-09-12 23:37] PawnixHere commented on #82
No feedback about it. Cheers for explaining :)

[2022-09-12 23:40] xJon commented on #82
Also for extra context, these could probably be changed over the modpack's end but I wouldn't feel comfortable tweaking these assets myself - I'd prefer mod authors to figure that out.

[2022-09-13 01:12] lividsubset3 commented on #76
I feel that configuring the railcraft boiler might allow this to be possible but I will see what I can find

[2022-09-13 02:19] lividsubset3 commented on #76
What I have figured out so far is that railcraft does support those fuel types ->
[code]
But not sure on how say a configuration file might come in play.

Still doing some digging into it.

[2022-09-13 05:15] Speiger commented on #60
it should

[2022-09-13 08:31] soratidus999 commented on #71
confirming fixed, worldmap is rendering as expected in tekkit-2 1.0.5 with VoxelMap Fixes 1.22.20-1.0.6

[2022-09-13 11:24] xJon commented on #71
Thanks for confirming!

[2022-09-13 22:12] xJon commented on #69
I'm unable to reproduce this issue but it could just be rare, will keep it open.

[2022-09-14 06:34] Lumpous opened #83 "Mod suggestion: TODOList"
Mod suggestion: [TODO List](https://www.curseforge.com/minecraft/mc-mods/todolist)
I've been using the TODO list for quite a while now, even over several updates, and would love to see it included in the overall package.

It is a client-only mod.

The mod itself adds a separate screen for adding multiple lists.
![image](https://user-images.githubusercontent.com/112988030/190076631-378fd4b2-d0d6-4e

[2022-09-14 07:34] Speiger commented on #82
Small point here:
Unless its actual typos I have no issue with these kinds of reports,
but things like this where someone says "Emm Actually this is not perfectly correctly written in the most perfect way" in Karen voice.
No thank you, especially since the IC2 examples are not even reasonable since both ways are valid.

For now i just locked this issue for a "nice" way of saying to shut up. And a

[2022-09-14 11:04] DatGurney opened #84 "Blockcraftery framed blocks + glowstone doesnt work on server"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Using glowstone on the blockcraftery framed blocks to make them glow doesnt work. I have tested this in single player and it worked fine but on my server doe

[2022-09-14 11:37] Lumpous commented on #84
Is the server running any plugins or has any restrictions in place?
Or is this a "plain" server as downloaded without any further modifications?

[2022-09-14 11:50] DatGurney commented on #84
I do have Dynmap forge installed, but have tested with the mod removed and still the same on a "plain" server

[2022-09-14 12:47] TheAio opened #85 "Tekkit 2 borderless resolution"
Tekkit 2 borderless resolution behaveing weirdly
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no

When i run tekkit 2 in a window and in a full screen bordered window everything runs fine.

But if i try to run tekkit 2 in a borderless window the window zooms heavily to the top left and spills over to the sc

[2022-09-14 12:57] TheAio commented on #85
I tried temporarially changeing scaling to 100% and it worked but due to other reasons i cant keep scaling at 100% and need it at 125%

[2022-09-14 13:16] xJon commented on #84
This is a known bug from 2019 unfortunately that never got fixed (https://github.com/MysticMods/Blockcraftery/issues/49). The mod is open source though, so if someone wants to fix this it will be happily included :)

[2022-09-14 13:16] #84 closed

[2022-09-14 13:23] SparksSkywere opened #86 "Logistical Pipes not sending Lava cells to geothermal generators"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Recently some Geothermal generators plugged into a logistic network do not accept lava cells post update, the previous update it worked fine, Thermal generat

[2022-09-14 13:24] SparksSkywere commented on #86
I have pictures of the issue from a player and my own generator farm (I use thermal only), I can do a PM if you wish to see them or I can throw them all into here?

[2022-09-14 13:28] SparksSkywere commented on #86
And extra note, the geothermal generators do not accept any input, even from Hoppers.

[2022-09-14 13:29] JNobleA opened #87 "Alchemical chest + IC2C import upgrade issue"
![2022-09-15_01 33 27](https://user-images.githubusercontent.com/105918849/190168473-f51509aa-04ea-44c4-a2e2-13575774fcde.png)
![2022-09-15_01 34 33](https://user-images.githubusercontent.com/105918849/190168487-f3464ef7-e6cb-4285-bae7-f499e8e0608e.png)
![2022-09-15_01 34 36](https://user-images.githubusercontent.com/105918849/190168492-10519c39-e60a-4a12-950c-e657f9edd6df.png)
![2022-09-15_01 34

[2022-09-14 13:36] xJon commented on #86
You need to make sure you have an automation upgrade.

[2022-09-14 13:38] xJon commented on #85
Is this an issue in other 1.12 packs? I'm unfamiliar with it unfortunately

[2022-09-14 13:45] JNobleA commented on #87
I have just done some testing, it only seems to happen with the alchemical chest.

I have tested:
wooden chest
iron chest
gold chest
diamond chest
crystal chest

[2022-09-14 13:46] xJon commented on #87
Can you describe the simplest way to reproduce this?

[2022-09-14 13:48] JNobleA commented on #87
if it's easier feel free to contact me on discord and I can show you, I have screen recordings but they're too large to upload here. JNobleA#9280

[2022-09-14 13:49] xJon commented on #87
I'd prefer this to be public if you don't mind, would be easier to share with mod developers :)

[2022-09-14 13:58] JNobleA commented on #87
No worries!

what I have done in my testing:
basic generator setup with copper cables connected to a rotary macerator. Put a stack of ore (ore whatever you want to be macerated) into the macerator. Place an import upgrade and an import upgrade into the macerator, with each being set to their respective chests (importing from alchemical chest, exporting to energy condenser mk1 or mk2). Then place a

[2022-09-14 14:14] xJon commented on #87
Seems to require at least 2 full stacks in the alchemical chest for the full effect. Will look into it, thanks for the report!

[2022-09-14 14:16] xJon commented on #87
@Speiger any idea what's happening here with the [alchemical chest](https://github.com/ACGaming/ProjectE/blob/mc1.12.x/src/main/java/moze_intel/projecte/gameObjs/container/AlchChestContainer.java) & import upgrade?

[2022-09-14 14:17] JNobleA commented on #87
Not technically true, I have just done some testing, If you put only 2 items into the chest as separate stacks it still works. In fact, the first stack slowly increases in size up to 63.

[2022-09-14 14:20] xJon commented on #87
@JNobleA Cannot reproduce that specifically on my end, but can always reproduce with 2 full stacks in the alchemical chest

[2022-09-14 14:21] JNobleA commented on #87
Edited my comment, It seemed to only work at slow macerator speeds, At high speeds you need two full stacks.

[2022-09-14 14:54] Speiger commented on #87
@xJon I looked through both codes. Neither of them seem to be the problem from what I can see...
I will throw this issue on the todolist of things to check after the 1.19.2 beta is done...

Also make sure you don't use to many of these alcs chests because they are havy FPS killers...
(Logic gets executed on client/server and is not split)

[2022-09-14 17:31] PawnixHere opened #88 "IC2 sounds reset after restart"
IC2 machine audio resets and defaults back to max volume after a restart of the modpack

[2022-09-14 17:34] PawnixHere opened #89 "VoxelMap Radar missing names & entity visiblity reverts to default after restart"
No comment
![image](https://user-images.githubusercontent.com/60940047/190223693-b9dc9ec1-381f-483f-9455-ac4884ef74c0.png)

The "Show Neutrals" reverts back to "OFF" upon restart.

[2022-09-14 17:43] xJon commented on #88
Are you sure it didn't reset due to the modpack update?

[2022-09-14 17:44] xJon commented on #89
Are you sure it didn't reset due to the modpack update?

[2022-09-14 17:44] PawnixHere commented on #88
I don't think so. I feel like it happens every time I restart the game

[2022-09-14 17:48] PawnixHere commented on #83
You have basically this feature already when hoving over an item in your inventory or TMI and pressing the "A" button on your keyboard. It will add the item to a special list to the left of the inventory. From there I always just remember what I need a rotary macerator for and so on for each item I select.

[2022-09-14 17:51] xJon commented on #88
Can you test/verify it then?

[2022-09-14 17:52] PawnixHere commented on #88
I just did. I think it happens after every update.

[2022-09-14 17:53] #88 closed

[2022-09-14 17:57] #82 closed

[2022-09-14 18:11] Lumpous commented on #83
I can only partially agree here.

Sure, it can kind of remind you to build item or block X, but still not tasks.
It's just a favorites list and nowhere near a todo list.

[2022-09-14 20:09] SparksSkywere opened #90 "Breaking thermal monitor can crash client"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**:  no
- **Crash/latest log link (if applicable)**: https://mclo.gs/a69VGP0

**Describe the issue**

I just went to remove a thermal monitor and the client crashed in multiplayer, the server is fine.

[2022-09-14 20:10] xJon commented on #90
Can you please post this issue over https://github.com/Zuxelus/Energy-Control/issues ?

[2022-09-14 20:32] SparksSkywere commented on #90
Done

[2022-09-14 21:15] Jaari commented on #85
Disable display scaling. Right click Javaw.exe in your Java folder, go to "Properties", and under "Compatibility" there will be the option to disable display scaling for high DPI displays.
The only thing to figure out now is if you are using "mojang runtimes" or if you are using your own java (this just changes which javaw.exe you'll have to interact with).

[2022-09-14 22:28] xJon commented on #89
I assume this is a duplicate of https://github.com/xJon/Tekkit-2/issues/88

[2022-09-14 22:28] #89 closed

[2022-09-14 22:30] PawnixHere commented on #89
Unless I mentioned the map problem in #88, I'd have to say that it's not a duplicate. I'm glad you already fixed the name issue though, cheers for doing it so fast.

[2022-09-14 22:32] xJon commented on #89
I assumed that the options reset due to a modpack update. Is that not true?
Regarding the missing names, apologies for (ironically) missing that - it's a mod issue and I'm not planning to modify it, as the mod's author is missing, and the mod has a strict license.

[2022-09-14 22:35] PawnixHere commented on #89
The options themselves, yes box. No worries.

It's unfortunate that the mod author is missing :/
I promise that I had nothing to do with it

[2022-09-15 06:37] StellarGears opened #91 "[Suggestion] Chisel Add-On Mods"
Mod Suggestion(s):
- "Unlimited Chisel Works"

- "Unlimited Chisel Works - Botany"

The main purposes of these two mods are to add more blocks that the Chisel can be used on. Particularly, this combination will add chiseled variants for all new wood types introduced by Forestry & Binnie's various mods. (Basically, a Chisel compatibility add-on for Forestry & the various Binnie's mods). I've includ

[2022-09-15 10:12] SparksSkywere commented on #86
I had a reply from one the players who has been helping me test things while I am at work:

"also ya just tested, geothermal and thermal generators dont take automation upgrades at all, so dunno what he is on about
and now on earth, Zielo's thermals wont accept. and there is no upgrading slots at all
https://forum.industrial-craft.net/thread/2449-minor-bug-1-23-geothermal-generator-can-only-accept

[2022-09-15 10:24] Lumpous commented on #86
https://user-images.githubusercontent.com/112988030/190380447-b16f7590-e92a-4fba-974e-f2f0497bfe54.mp4

Inserting Automation Upgrades into geothermals works just fine to me.

[2022-09-15 10:48] Munchy907 opened #92 "[Suggestion] Additional Enchanted Miner(QuarryPlus)"
Mod Suggestion:

Additional Enchanted Miner:
https://www.curseforge.com/minecraft/mc-mods/additional-enchanted-miner

Gives buildcraft a extra layer with better version of the machines as well as has it own take on a filler
In general just makes buildcraft more useful in the later game

[2022-09-15 11:34] Munchy907 commented on #56
https://github.com/sinkillerj/ProjectE/commit/1d3f1479e6647ba25f8fc89c61ae04cc68cca130

[2022-09-15 12:05] TechnoRikkor opened #93 "Accessing nuclear chestplates inventories glitch when in blocks or space stations"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

when trying to open the inventory of advanced nuclear nano chestplate and nuclear quantumsuit jetplate (and likely the nuclear gravitation chestplate. havent

[2022-09-15 16:01] Sadie80 opened #94 "Binnies Mods flora giving infinite drops."
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**:  not applicable

**Describe the issue**

Claim an area containing Binnies Mods trees or bushes, then mine/harvest the tree or bush. It will instantly re-grow. You can then harvest it over and ove

[2022-09-15 16:49] Lumpous commented on #94
Claiming an area is not possible in the modpack itself.
This behaviour appears to happen on a server with some plugin running.

You might need to talk to the server admin to get this sorted out as it's highly not caused by the modpack itself - more caused by a plugin.

[2022-09-15 16:55] xJon commented on #86
Seems that you need to use a [Machine Tool](https://github.com/TinyModularThings/IC2Classic/wiki/Machine-Tool).

[2022-09-15 17:03] xJon commented on #93
Strange! Are you also pressing `C` when shift right clicking it?

[2022-09-15 17:06] Sadie80 opened #95 "Recoloring Alchemical Bags doesn't work on servers"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**:  no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Title says it all. Colored bags can not be re-colored, or changed. JEI shows recipes for doing it, but it does not work. Tried several dyes, tried several

[2022-09-15 17:32] TechnoRikkor commented on #93
no, simply only shift right click. i can record a clip of it happening to show the bug

[2022-09-15 17:50] xJon commented on #93
You're supposed to press `C` though in order to access its inventory from what I recall?

[2022-09-15 17:54] TechnoRikkor commented on #93
i have actually tried both things, the "side inventory key" keybind which is c. doesnt work for it, it usually opens with shift right click (which that in itself is probably also a bug that C doesnt work?) and after my comment, i tried both just incase. only shift right click worked, and only works when wearing some other chest piece

[2022-09-15 18:36] xJon commented on #93
I see the wiki says shift right click is it, not sure why I remembered it wrong.
Either way I tried shift right clicking it in survival with no chestplate equipped and it works fine for all nuclear jetpacks from both IC2C and Gravisuit Classic, on singleplayer and multiplayer using `1.0.5` and default key bindings.

[2022-09-15 18:39] TechnoRikkor commented on #93
strange? ive had it constantly happen over and over. if you'd like to see, here is a clip i made of me causing it and i can consistently cause it, ill see if i can get others to replicate the bug or if its somehow only happening to me. real quick ill try another quick test to see if there is another possible cause for its constant trigger https://youtu.be/MtScko8eRTs

[2022-09-15 18:41] TechnoRikkor commented on #93
ok i did my quick test and found its situational, (ive always tried while living on my space station) and when i went to earth, it did it just fine. try heading to a space station and attempt to open it again, see if you can replicate it

[2022-09-15 18:42] xJon commented on #93
I doubt it's caused by the current dimension, perhaps by wearing specific Galacticraft gear?

[2022-09-15 18:45] TechnoRikkor commented on #93
ill take off my entire suit and see if it does

[2022-09-15 18:46] xJon commented on #95
Can you reproduce this on a server only or also in singleplayer?

[2022-09-15 18:47] TechnoRikkor commented on #93
took off my entire space suit and it still happened

[2022-09-15 19:02] xJon commented on #93
Can you in the overworld teleport inside a block (e.g. when standing on ground do `/tp ~ ~-3 ~`) and try to reproduce the issue?

[2022-09-15 19:08] TechnoRikkor commented on #93
yes, it replicates it. all items vanish and reappear once entering the galacticraft section, but on the overworld it seems to become fixed, only requiring a relog in multiplayer

[2022-09-15 19:10] xJon commented on #93
@Speiger could you add looking into this to your todo list or would you prefer me to open an issue somewhere else? This is reproducible with both IC2C & Gravisuit nuclear chestplates of all kinds

[2022-09-15 19:56] Demoneffx opened #96 "Multiplayer?"
**Basic details**
1. Are you using a legitimate launcher and Minecraft account:
**yes**.
2. Are you using a computer with 8GB or more of RAM? ([How to check](https://www.wikihow.com/Check-Computer-RAM)):
**yes**.
3. Are you using Java 8, 64-bit? ([How to check](https://www.wikihow.com/Determine-Java-Version)):
**yes**.

**Information required**
1. no crash, server runs fine, just no MP.

**Help ne

[2022-09-15 19:58] xJon commented on #96
As this is less modpack-specific and more modded Minecraft in general it might be better to get help over [Technic's Discord](https://discord.com/invite/technic), I think they have tutorials there regarding opening a server :)

[2022-09-15 19:59] TechnoRikkor commented on #86
at the time, didnt know about the machine tool or even its usage tbh. i havent at the moment tried using a machine tool. i havent lately done more testing using the machine tool and automation upgrade so cant at the moment expand further (im about to head to work) but i have at least found thermal generators (without automation upgrade) will accept input from the bottom of them and geothermals won

[2022-09-15 19:59] Demoneffx commented on #96
I know how to open a server, it's just the genuinely I've troubleshot the issue for two days now and can't find any other reasonable conclusion. Last ditch effort would be to contact my ISP.

[2022-09-15 20:00] xJon commented on #96
I just don't have much experience with this, but maybe someone else could comment. You can also ask for help in the [Modded Minecraft Discord](https://discord.gg/moddedmc).

[2022-09-15 20:02] Demoneffx commented on #96
I will ask there. but I'd ask that this remain open until a solution can be drawn. I'll keep it updated when I find the resolution. TIA :)

[2022-09-15 20:57] Jaari commented on #95
I cannot reproduce this in singleplayer. However, a more problematic issue occurs: Any contents in the bag are lost when you recolor the bag. Perhaps a server has this disabled because of this issue?

Out of interest, are you using a vanilla crafting table, or a different type of crafting table?

[2022-09-15 21:00] xJon commented on #95
@ACGaming do you think this would be easy to patch? 👀

[2022-09-15 21:09] Jaari commented on #95
Just checked, but ProjectRED backpacks keep their contents when recolored.

[2022-09-15 21:13] Jaari commented on #95
Actually just found out something weird. If you recolor a ProjectE grey bag (containing 1 stack of tnt) to purple, you lose the contents. If you put something else (say a stack of apples) in the purple bag, then recolor it back to grey, you will find the original stack of tnt again. Recoloring the bag back to purple lets you find your apples again.

[2022-09-15 21:39] Taliviere4586 opened #97 "Logistics pipes crashing Server"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: link to log / not applicable
https://mclo.gs/2L6ITiU

**Describe the issue**
Multiplayer server Crashing Continuously from logistics pipes
A clear description of what the issue is.
Players usuall

[2022-09-15 22:02] xJon commented on #97
This crash report just shows the server timed out (whilst generating new chunks, it seems), nothing to do with Logistics Pipes

[2022-09-15 22:18] SnowFlamee opened #98 "Energy condenser doesn't retain EMC"
Don't know if this is intentional or a bug, but they no longer retain the EMC value that was stored in them.

[2022-09-16 02:27] StellarGears commented on #95
That is actually an intended feature. Every colored alchemical bag basically acts as a personal, portable enderchest that is tied to bag color, I.e. if you were to craft 3 red alchemical bags, they would all link back to the same exact inventory space, but a 4th blue alchemical bag would instead link to another inventory entirely, only accessible by other blue alchemical bags.

A Wiki Article for

[2022-09-16 02:39] xJon commented on #95
@StellarGears Thank you for pointing it out! In this case, the only issue would be the lack of a recoloring in multiplayer (and perhaps an addition of some in-game information about them)

[2022-09-16 05:18] Speiger commented on #93
Yeah... This is a desync issue where for whatever reason the client decides it knows better over the server...
Stuff like this is really annoying... I am not sure if I can fix it...

Well it is fixable, but I have to remove the "Rightclick to equip feature" or move it to a dedicated keybinding that doesn't clash with "Normal rightclick"...

Not sure what to do.
@TechnoRikkor any opinion on this?

[2022-09-16 12:16] DonnyCraft1 opened #99 "RailCraft transition track bug - is mod up to date?"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**:  no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

No matter how many transition rails in use, going from high speed electric rails to normal electric rails makes the locomotive explode when running at full

[2022-09-16 12:29] DonnyCraft1 commented on #99
Seems like the last Railcraft version is 12.0.0, which came out March 15, 2019 i.e. quite some time before this issue was patched. Is the mod not being worked on anymore?

[2022-09-16 12:47] SeanY2597 opened #100 "Railcraft World Spikes will not accept ender pearls as fuel"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

A clear description of what the issue is.

Placed down Standard World Spike. open interface and attempt to place ender pearl within as fuel. This does not wo

[2022-09-16 12:49] michele-grifa commented on #99
If you check on curseforge, the last version is 12.1.0-beta-8 which came out June 30, 2022.

[2022-09-16 12:52] DonnyCraft1 commented on #99
Do you know what version Tekkit 2 is using?

[2022-09-16 13:00] Lumpous commented on #100
Ender pearls are not the correct fuel for the worldspike.

Hover the input slot and it will show you what items are accepted as fuel.

[2022-09-16 16:39] Munchy907 opened #101 "Charged klein star too expensive in energy condenser"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**: no

**Describe the issue**

When you put a charged klein star into a energy condenser it will require the full amount to make the item (including the charge) but only output a none charged klein start
https://prnt.sc/pnFlW8uyHIK4

[2022-09-16 17:17] xJon commented on #101
Hmm, in Tekkit Classic you weren't able to put charged klein stars in the energy condenser. I do agree that the current behavior isn't great, thanks for the report!

[2022-09-16 17:23] DonnyCraft1 commented on #99
That's understandable. Didn't seem like they had a schedule, so I doubt there will be a stable build in the near future.

[2022-09-18 12:53] SparksSkywere opened #102 "ProjectE can cause a server crash"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable
- Log attached:
[crash-2022-09-18_13.41.45-server.txt](https://github.com/xJon/Tekkit-2/files/9593999/crash-2022-09-18_13.41.45-server.txt)
https://mclo.gs/kd1VK0V

The server crashe

[2022-09-18 12:57] SparksSkywere commented on #102
Another crash shortly after, a bit of asking and seeing, the player was using a red matter morning star.

[crash-2022-09-18_13.53.09-server.txt](https://github.com/xJon/Tekkit-2/files/9594006/crash-2022-09-18_13.53.09-server.txt)

[2022-09-18 15:23] K0KS13 opened #103 "Logistics Pipes can cause a client crash"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**:  no
- **Crash/latest log link (if applicable)**: [link to log](https://mclo.gs/pTrhQ7u)

**Describe the issue**

Minecraft just randomly crashed while flying on server with swiftwolf's ring

[2022-09-18 16:59] TechnoRikkor commented on #93
to be honest, not many people likely use right click to equip stuff, at most shift right click in their inventory to equip. (at least i do) so removing the nuclear pieces from being able to be right click equipped would very likely fix the issue completely

[2022-09-18 17:14] xJon commented on #103
This is most likely due to a Logistics Pipes issue, can you provide your full log and also mention whether you can reproduce the crash?

[2022-09-18 17:39] xJon commented on #56
As this feature was purposefully removed from ProjectE, I'll close this suggestion.
@wiglet1 Feel free to reach out to them and inquire about it, and thank you nevertheless for the suggestion!

[2022-09-18 17:39] #56 closed

[2022-09-18 20:05] K0KS13 commented on #103
this was the only log link i got.
I was flying over terrain no bases under me, so i can't really reproduce the crash.

[2022-09-18 20:11] AstoriaFloyd commented on #76
I have discovered why BC fuel does not work. It was added after the latest release, being extremely outdated, being from 2019. This could be solved by updating to a beta release.

[2022-09-18 20:51] xJon commented on #76
@AstoriaFloyd See https://github.com/xJon/Tekkit-2/issues/99#issuecomment-1249558631

[2022-09-18 20:59] AstoriaFloyd commented on #76
I see. In that case using Moretweaker and Modtweaker to add the buildcraft fuels to the boiler with custom values could also work.

[2022-09-19 00:50] xJon commented on #76
If the newer version of Railcraft add support, I'd prefer to update to it instead for all of the benefits. Perhaps you could inquire over Railcraft's Discord: https://discord.gg/VyaUt2r

[2022-09-19 07:20] sebollito opened #104 "Behavioral Issue with PESU energy output"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**:  no
- **Crash/latest log link (if applicable)**:  not applicable

**Describe the issue**

After hours of experimentation and almost losing my head I think I understand how PESU are currently  behaving. So, the energy flow on the input of the P

[2022-09-19 13:01] xJon commented on #104
Do you have enough energy stored in it to sustain 32k EU/t?

[2022-09-19 15:30] sebollito commented on #104
Yes, at the moment of my last test if had more than 2 million EU stored.

[2022-09-19 23:42] PopPersonalAccount opened #105 "Mod suggestion: Galacticraft Extra planets"
I've been playing a bit of your 1.12.2 Pack Modpack and i think Tekkit 2 would get alot more fun with all the planets that Extra Planets adds.

Mod Link: [Extra planets](https://www.curseforge.com/minecraft/mc-mods/extraplanets)

[2022-09-20 02:43] sebollito commented on #104
After sitting down again and redoing everything it seems that during my tests the PESU drained and couldn't keep up, just left it store 100 MM EU before starting and now it's working as inteded, so it was a mistake on my end.

[2022-09-20 02:43] #104 closed

[2022-09-20 15:18] ljboxf opened #106 "Galacticraft Adv Compressor"
**Basic details:**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue:**
So as you can see by the video evidence provided the Advanced Compressors from the Galaticraft mod are a bit broken right now, some odd reason when trying t

[2022-09-20 15:22] xJon commented on #106
I assume it's not a resource pack issue?
Can you report this over https://github.com/TeamGalacticraft/Galacticraft-Legacy/issues ?

[2022-09-20 15:51] ljboxf commented on #106
Can confirm it's not a resource pack issue.

[2022-09-20 15:59] Lumpous commented on #106
Seeing the chat on the video, I assume this is happening on a server.
Can you reproduce the same thing in a SP world?
If it is not reproducible in SP, can you ask the server admin what plugins he is using and if they can be the possible cause?

I ask because on my unmodified server I could not see this problem and I have all compressors fully automated even with LP.

[2022-09-21 15:58] davee261 opened #107 "ADD SUPORTS PLUGINS"
Hello, would it be possible to add plugin support please? or is there any instruction how to add them there yourself? Thank you.

[2022-09-21 16:41] Lumpous commented on #107
Plugins are meant to run on servers.
I'm not quite sure how Tekkit 2 is meant to be played, whether it's more SP or MP balanced.

But I'm sure the type of plugin support should be up to each server owner, since the plugins supported depend on the plugin support.

Defaulting a specific plugin support would not be helpful here, as the owner would have chosen a completely different one and would have

[2022-09-22 12:56] Lumpous commented on #92
The listed mod is not available for 1.12.2 if I read that correctly.

[2022-09-22 13:11] ACGaming commented on #92
Yes, it is. 🙂

[2022-09-22 13:46] Munchy907 commented on #92
https://prnt.sc/pDokpQpicR_s

[2022-09-22 14:13] Lumpous commented on #58
I am not taking into account what happened in other and/or older packs.
At the moment it is only of interest if this is really caused by mod interactions between LP and PR, PR and Forge, PR alone or even Forge alone.
Which constelation is the cause here still needs to be clarified.

@Ramog, if you are able to reproduce the mentioned problem, you are welcome to do so and share your results with us

[2022-09-22 14:23] Lumpous commented on #92
You're right - I was looking through the website on my phone and just missed the entry there.
I apologize for that!

[2022-09-22 15:35] Ramog commented on #58
Well my observation is that I removed Logistics pipes and it doesn't delete the frames anymore. This is also the case for tekkit 2. ^^'

[2022-09-22 16:34] ACGaming commented on #58
https://github.com/RS485/LogisticsPipes/issues/1456

[2022-09-22 17:14] xJon commented on #58
@Ramog Would you say the frames are working well enough without Logistics Pipes that they are usable?

[2022-09-22 18:50] lardfaktor opened #108 "Water Mill not accepting water buckets properly"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

I was making a water mill setup, where i am using a dispenser to fill buckets with water, a filtered importer to move the buckets to the water mills via pres

[2022-09-22 19:14] Ramog commented on #58
atleast in my tests and old worlds in other modpacks
 @anqu0re mentioned that it crashes for him, althought I never had that happen (yet)

[2022-09-23 01:20] xJon commented on #108
So are you saying that after a game restart, no pipes can put buckets into the water mills?

[2022-09-23 08:14] lardfaktor commented on #108
Yes and the importers from below wont take out the empty buckets even if i break the pipe, but from the dispenser side when i break the pipe above the importer the water buckets keeps popping up.

[2022-09-23 09:04] Speiger commented on #108
Not sure if it is a ic2c problem.
But try out inserting from the top and then retrying.
IC2C Watermills by default only allow bucket/cell insertion only from the top by default.
(Extraction goes from any side)

Also did you install Automation Upgrades?

[2022-09-23 09:33] lardfaktor commented on #108
I tried inserting from the top but same issue and water mills do not have any upgrade slots.

[2022-09-23 10:17] Speiger commented on #108
@lardfaktor Automation Upgrade is inserted with a "Machine Tool" which every single IC2 Block with a Inventory has.

[2022-09-23 10:28] lardfaktor commented on #108
@Speiger I did not know this so thanks. When i insert automation upgrade to a water mill it does the same when i restart the game, stops input and output.

[2022-09-23 12:09] Speiger commented on #108
Ill look into it when the 1.19 version is done...
Which will be in hopefully 1-2 weeks...

[2022-09-23 12:44] lardfaktor commented on #108
Okay, thanks for your support

[2022-09-23 18:36] cocqvaju opened #109 "BuildCraft's Auto Workbench doesn't support IC2C's stacked recipes"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Creating a "Plasma Core" from the "Industrial Craft Classic" mod in the "Auto Workbench" by "BuildCraft Factory" it doesn't work.
It consumes part of the ing

[2022-09-25 07:05] xJon commented on #109
This should be reported over https://github.com/BuildCraft/BuildCraft/issues, there's not much I can do unfortunately. Thank you nevertheless for the report!

[2022-09-25 13:58] SparksSkywere commented on #103
Just butting in here with a similar issue during server play, from a player in the server:

![image](https://user-images.githubusercontent.com/34066194/192146960-d7a97ad5-30d7-475e-88b9-77c1ffd192ac.png)

This happens when players are flying fast around the map and any logistical pipes unrender, crashes can occur when it happens, I have asked for logs specific to this to be sent to me, I will post

[2022-09-25 14:26] xJon commented on #103
@SparksSkywere This will probably be resolved in the next modpack update using the latest Logistics Pipes version.

[2022-09-25 14:46] SparksSkywere commented on #103
Sweet, I will inform the players!

[2022-09-25 19:39] Speiger commented on #109
Crafting Upgrade can deal with that.
Which you can use in Machine Buffers.

[2022-09-26 05:36] xJon commented on #13
Adding reference to the [current workaround](https://github.com/makamys/MAtmos/issues/22#issuecomment-1230413088):

[2022-09-26 09:36] LeStegii opened #110 "Incompatibility between ProjectRed Chip GUI and JEI"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: yes (Optifine)
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**
1. Enable the JEI cheat mode.
2. Rightclick holding a ProjectRed Item Crafing Chip.
3. Try to create a new recipe using the Matrix (click on the b

[2022-09-26 09:38] UeberallGebannt commented on #107
If you're talking about Bukkit/Spigot plugin support, there are multiple options.
I'm using [Magma](https://magmafoundation.org) for my server.

You will face some issues though and I doubt you will get support here on the official modpack bugtracker.

[2022-09-26 12:04] xJon commented on #110
Hey, thanks for the report! It should probably be forwarded over to https://github.com/MrTJP/ProjectRed/issues

[2022-09-26 14:03] UeberallGebannt commented on #110
Most likely, I just thought this could be fixed by some config entries :)

[2022-09-26 14:07] UeberallGebannt commented on #110
Reported it here: https://github.com/MrTJP/ProjectRed/issues/1739

[2022-09-26 14:29] xJon commented on #110
I'm not sure how this could be fixed with config tweaks, but feel free to share if you have any ideas :)

[2022-09-26 14:30] UeberallGebannt commented on #110
Sadly I have no clue, I just thought that JEI could have configs for supporting custom GUIs 😅

[2022-09-26 16:41] Defender31 opened #111 "IC2C sounds in singleplayer stop after game pause"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable
- **Only applies to singleplayer**

**Describe the issue**

When pausing minecraft while ic2 plays a sound eg. Macerator macerating and unpausing it it just will be gone

[2022-09-26 17:02] xJon commented on #58
@anqu0re @Ramog Can you please help testing the new Logistics Pipes version that has addressed this issue? You can find the latest version over [this](https://www.curseforge.com/minecraft/mc-mods/logistics-pipes/files/all?filter-game-version=1738749986%3a628) link.

[2022-09-26 17:12] xJon commented on #111
@Speiger is this a known issue? Seems to be reproducible only on singleplayer though

[2022-09-26 19:18] Speiger commented on #111
Not a bug that is intentional.
A audio cleanup when pausing the game.

[2022-09-26 20:07] xJon commented on #111
Not sure what counts as machine triggers getting triggered, as a bunch of machines can continue to work with existing items and not generate any sound, nevertheless I understand this is intentional

[2022-09-26 21:34] Speiger commented on #111
Every time a Machine starts processing a item it triggers a "Working sound" meaning they will at some point start a looping sound again.

Yeah its not perfect. The sound system technically needs a redesign, but that is out of scope...
Lets put it this way:
I would rather have sounds removed when i pause the Game, then have a bunch of sounds that keep playing even so the machine no longer works or

[2022-09-28 13:23] #111 closed

[2022-09-28 15:49] Defender31 opened #113 "While connecting to server java error"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not ok with sharing, please tell me if i have to

**Describe the issue**

When connecting to server have chance to work or not by not i mean kick me with error java.io.IOExpection blah blah connect

[2022-09-28 15:56] Defender31 commented on #113
i can replicate it multiple times

[2022-09-28 16:18] xJon commented on #113
For issues like these you better head over to Technic's `#tech-help` Discord channel over https://discord.gg/KJjbBFSma5

[2022-09-29 03:43] RedTurtleYT opened #114 "Big Reactors >>"
I was wondering if you could please consider adding Big Reactors mod to Tekkit2, I feel a lot of people would like to use these reactors instead of the Industrial Craft ones. A large portion of the community would appreciate this mod to be added. :)

-RedTurtleGaming

[2022-09-29 06:30] Lumpous commented on #114
I'm sorry to say but BR generates RF whereas the modpack tries to re-create the Tekkit Classic feel.
The 2 main forms of power back then were MJ from Buildfract and EU from IC2.

BR just does not fit in the overall feel for the re-creation.
In addition the amount of generated power is way to unbalanced to fit into the pack - at least to me.
But in any case you can add it to the mods and use it eit

[2022-09-29 11:08] Speiger commented on #114
Big Reactors was one of the reasons why the RF -> EU converter were removed out of IC2C by the way.

[2022-09-29 13:35] Speiger commented on #113
@Defender31 please also provide "latest.log/txt" and "debug.log/txt" from your client and if you can from the server.
Because that usually contains crashes that happend internally to cause this exception.

[2022-09-29 21:30] DatGurney opened #115 "Cannot craft EU loader/unloader from railcraft"
**Basic details**
- **Are you using a legitimate Minecraft account?**: no / yes
- **Are you using Java 8, 64-bit?**: no / yes
- **Did you add any additional mods**: yes (detail) / no
- **Crash/latest log link (if applicable)**: link to log / not applicable

**Describe the issue**

A clear description of what the issue is.

[2022-09-30 00:32] #114 closed

[2022-09-30 04:00] Speiger commented on #115
@DatGurney could you please show the JEI recipe? (IC2C dev)

[2022-09-30 09:23] xJon commented on #114
Thank you nonetheless for the suggestion and feel free to add it yourself manually if you want - I believe everyone should play the game they enjoy the most :)

[2022-09-30 09:36] xJon commented on #115
I can confirm the recipe is not working properly, strange.
@Speiger Here are the recipes:
![Gif](https://user-images.githubusercontent.com/8945347/193241329-7e18068a-71ee-4063-a6e5-c9f36ee09429.gif)
Do you think this is a Railcraft incompatibility with IC2C?

[2022-09-30 14:39] Speiger commented on #115
Could be railcraft or could be me.
I throw it on the pile to check when i am finally done with the never ending story thats 1.19

[2022-09-30 15:01] DatGurney commented on #115
good to hear. I've just created a crafttweaker recipe in the meantime, seems to work fine even with charged/uncharged batteries. I did find that the unloader seems to give out some ridiculous volatge (blows up MFSU) so had to use an adjustable transformer for it to not blow up my machines but I imagine this is more on railcraft than IC2C

[2022-09-30 16:37] lividsubset3 opened #116 "[Suggestion] Chunk Claim and Chunk Load"
Was just wondering if it would be possible to add a mod that allows for chunk claim and chunk load. Through either commands or though the given map mod or standalone mod.

Allowing this would be nice coming from an owner who hosts a server. The world spikes are nice just only down side is they obtain a 3x3 size of chunk and 5x5 on railcars. Only problem I have found is people don't know whos base

[2022-09-30 17:18] xJon commented on #116
This can be added with server side plugins.

[2022-09-30 19:38] Speiger commented on #115
It could be the lack of IC2Classic support in Railcraft.
Because IC2Exp has made a fuckup in MY implementation of the "MultiPacketEnergySource" (Basically if a source emits more then 1 packet)

IC2Exps implementation: Send all packets combined in 1 batch.
Original Implementation Provided by IC2Classic + Doc: Send each packet individually.

And IC2Exp after adopting it from me never fixed it...
And

[2022-09-30 23:15] RadegasTCZ commented on #107
I have sticked to SpongeForge solution with 2 mods, essentials and tablist.

[2022-09-30 23:16] RadegasTCZ commented on #102
I have a little different problem but might be the same. I have major issue when server runs just fine and suddenly it bugs out and takes down the host machine with it. It did it on Ubuntu server, yes clean install with openjdk-8-jre installed and Windows Server 2022, also clean install using default Java 8. So I need to wait until my friend wakes up and reboots the whole computer. I see the serve

[2022-09-30 23:36] RadegasTCZ opened #117 "Client tends to freeze on startup"
Basic details:

Are you using a legitimate Minecraft account?: Yes
Are you using Java 8, 64-bit?: Yes (see below)
Did you add any additional mods: No
Crash/latest log link: [mclo.gs/BVCCIBL](https://mclo.gs/BVCCIBL)

I have had pretty finicky issue starting up the Tekkit 2 client it sometimes loads sometimes not. When you start it, I can't interact with anything, switching to a different window fr

[2022-09-30 23:45] RadegasTCZ commented on #113
If that is server hosted on a machine remotely I would suggest there is something terminating that connection.

[2022-10-01 00:07] xJon commented on #115
@Speiger Could that also be the cause of https://github.com/xJon/Tekkit-2/issues/66?

[2022-10-01 04:03] Speiger commented on #115
maybe.

[2022-10-01 10:42] xJon commented on #117
Did you try allocating less memory? 16 GB is way overkill.

[2022-10-01 11:16] Wynadorn opened #118 "Clean server launches with errors"
**Basic details**
- **Are you using a legitimate Minecraft account?**: server
- **Are you using Java 8, 64-bit?**: yes, `jre1.8.0_341 (x64)`, on `Windows 11 (22000.978)`
- **Did you add any additional mods**: no, clean `Tekkit-2_Server_v1.0.5.zip`
- **Crash/latest log link (if applicable)**:
    - First launch: [latest.log](https://mclo.gs/pxAp9HG) & [debug.log](https://mclo.gs/fTMNYi0)
    - 2nd

[2022-10-01 12:26] xJon commented on #118
Welcome to modded Minecraft! :)
If you encounter a game breaking bug, feel free to report it in a separate issue with extra details.
Regarding these log errors - they have been for years, and still are, a part of mods (especially with cross-mod compatibility) not being _perfect_. If you are worried about them you should contact the respective mod author.

[2022-10-01 19:03] Dutchone opened #119 "Launcher is missing 2 mods, cant join servers"
**Basic details**
- **Are you using a legitimate Minecraft account?**: / yes
- **Are you using Java 8, 64-bit?**:  / yes
- **Did you add any additional mods**: / no
- **Crash/latest log link (if applicable)**:  not applicable

**Describe the issue**

You cant join a self hosted server with out self adding Chat color and K4LIB

These are not downloaded with the pack if you use the launcher,

You ne

[2022-10-01 19:31] SparksSkywere commented on #102
If it pulls the whole thing down, can you grab the crash logs at "tekkit-2\crash-reports", also if you are having the physical Ubuntu server crash then you need to look into why, the logs for the OS are held in "/var/log". I cannot help you find the issue with the OS as I use Windows Server 2019 on server hardware.

[2022-10-01 20:27] RadegasTCZ commented on #102
I can look into that, it might be better to chat about it on discord where I have joined recently, since I told myself to have a chill day after I went sleep at 4AM I didn't look into it just yet, since my friend fixed RDP connection on network I can access the server now. I will get back idk if here or discord with info of what can I find.

[2022-10-01 20:37] RadegasTCZ commented on #117
Oopsy, I forgot to confirm comment. Anyway, I tried 2 things, I set the launcher to use oracle official JRE 8 distro and setting memory allocation to 8GB. I will see how it goes, I tried to load the game couple times this morning and didn't notice the stuck problem even when interacting with other programs. I will see how it goes.

[2022-10-01 20:50] xJon commented on #119
These are server-side only mods and you can join servers without having these installed on the client.
If you can't join a server, feel free to detail here more about the issue for help!

[2022-10-02 00:44] SparksSkywere commented on #102
I am not the owner of this modpack, logs and crashes if you can read the cause or need help make a new thread with the addressing the issue, Linux issues you will need to seak another forum or ask the discord, I am just a mere bug reporter to this here thread.

If you need desperate help, you can find me on the technic discord under the same name "Sparks Skywere", though responces maybe slow if I

[2022-10-02 09:03] Wynadorn commented on #118
<picture><img src="https://media.sketchfab.com/models/49efaa2c91094e4ab3c8184d2ec537a9/thumbnails/b0b040369cc541719272d827e328e643/7f49e2acb05a4beab23e908069e2ca22.jpeg" ></picture>

[2022-10-02 09:03] #118 closed

[2022-10-03 01:32] Speiger commented on #117
@RadegasTCZ please provide a ThreadDump using [VisualVM](https://visualvm.github.io/)
Basically start the game and as it starts start VisualVM and hook into it. Wait for it to get stuck and when it is stuck do the thread dump.

[2022-10-03 04:19] RadegasTCZ commented on #117
Good morning, I think I might be able to look into that when I get home. But the suggestion from @xJon have might fixed it, it hasn't happened with only 8GB so far.

[2022-10-03 18:48] xJon commented on #66
You might be able to use an Adjustable Transformer as a workaround (pointed out by @DatGurney).

[2022-10-04 13:25] RoyalTurkey1 opened #120 "ProjectE misleading support for Forestry saplings, enchanted books"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

A clear description of what the issue is.

When placing any sapling into a Condenser, instead of duplicating same sapling, turns them into Apple oak which a

[2022-10-04 20:05] xJon commented on #120
Seems like the Energy Condenser is missing some needed compatibility with Forestry's saplings.
<details><summary>When placing:</summary>

[code]
</details>

[2022-10-05 07:09] RadegasTCZ commented on #103
Talking about logistics pipes, my friend has crashed an entire server by left clicling unrouted pipe, he managed to crash his client 2 times in a row, I can't reproduce it, but the mod version used in this modpack might be buggy.

report: https://mclo.gs/gRkjCG7

[2022-10-05 12:24] xJon commented on #72
As BuildCraft is not in active development, there's not much else I can do. It is open licensed though, so anyone could PR new improvements. Will close for now.

[2022-10-05 12:24] #72 closed

[2022-10-05 12:26] xJon commented on #90
Apart from forwarding the issue to Energy Control there's not much else I can do now as it is not currently in active development. Closing for now :)

[2022-10-05 12:26] #90 closed

[2022-10-05 12:26] xJon commented on #109
As BuildCraft is not in active development, there's not much else I can do. It is open licensed though, so anyone could PR new improvements. Also as Speiger mentioned there are other alternatives. Will close for now!

[2022-10-05 12:26] #109 closed

[2022-10-05 12:30] xJon commented on #10
Closing for now (will reopen if requested).

[2022-10-05 12:30] xJon commented on #57
Closing for now (will reopen if requested).

[2022-10-05 12:30] #57 closed

[2022-10-05 12:30] xJon commented on #60
Closing for now (will reopen if requested).

[2022-10-05 12:30] #60 closed

[2022-10-05 12:33] #63 closed

[2022-10-05 12:34] xJon commented on #67
Closing for now (will reopen if requested).

[2022-10-05 12:34] #67 closed

[2022-10-05 12:34] xJon commented on #75
Closing for now (will reopen if requested).

[2022-10-05 12:34] #75 closed

[2022-10-05 12:34] xJon commented on #85
Closing for now (will reopen if requested).

[2022-10-05 12:34] #85 closed

[2022-10-05 12:35] xJon commented on #86
Closing for now (will reopen if requested).

[2022-10-05 12:35] #86 closed

[2022-10-05 12:36] xJon commented on #96
Closing for now (will reopen if requested).

[2022-10-05 12:36] #96 closed

[2022-10-05 12:36] xJon commented on #100
Closing for now (will reopen if requested).

[2022-10-05 12:36] #100 closed

[2022-10-05 12:36] xJon commented on #97
Closing for now (will reopen if requested).

[2022-10-05 12:36] #97 closed

[2022-10-05 12:36] xJon commented on #107
Closing for now (will reopen if requested).

[2022-10-05 12:36] #107 closed

[2022-10-05 16:05] xJon commented on #115
The recipe issue is on Railcraft's end - it also doesn't work with IC2 Experimental, but it's also easy to fix on the modpack's end as @DatGurney mentioned.

[2022-10-05 17:20] xJon commented on #101
After talking to @ACGaming, I understand the mod won't touch NBT data probably by design to prevent dupes (e.g. with backpacks). It's *technically* possible to hardcode special care for edge cases like this, albeit risky - If someone wants to they can PR over https://github.com/ACGaming/ProjectE.
Will close this for now, thanks for the report nonetheless!

[2022-10-05 17:20] #101 closed

[2022-10-05 17:51] xJon commented on #120
After talking to @ACGaming, I understand the mod won't touch NBT data probably by design to prevent dupes (e.g. with backpacks). It's *technically* possible to hardcode special care for edge cases like this, albeit risky - If someone wants to they can PR over https://github.com/ACGaming/ProjectE.
The workaround will be to just remove EMC values from the special saplings due to the way they hold da

[2022-10-08 13:14] thomasflrs opened #121 "Crashing while opening the map"
The game crashed when I tried to open the large map. I tried it again later, but it worked fine the second time. Here's the crash log: https://mclo.gs/j4mrTVh

[2022-10-08 13:56] xJon commented on #121
This seems to be a duplicate of https://github.com/xJon/Tekkit-2/issues/103 - hopefully it will get resolved in the next modpack update. Thank you nevertheless for reporting :)

[2022-10-08 13:56] #121 closed

[2022-10-11 07:13] ILC5100 commented on #10
I play in window mode and my monitor resolution is 2560×1440p  Gesendet von Mail für Windows Von: JonGesendet: Montag, 29. August 2022 18:09An: xJon/Tekkit-2Cc: ILC5100; MentionBetreff: Re: [xJon/Tekkit-2] Saving and quitting while open to LAN seems to cause the game to freeze permanently; Nothing unusual in logs (Issue #10) Do you play in full screen? Do you have a special monitor resolution?—Rep

[2022-10-11 08:51] Speiger commented on #120
@xJon There is a whitelist in the mod.
https://github.com/ACGaming/ProjectE/blob/17b2bdb0c7c6a64340e858e743d0388f43c4f136/src/main/java/moze_intel/projecte/utils/NBTWhitelist.java#L20

[2022-10-11 15:03] ColaQuente opened #122 "Illegal Dupe bug in Tekkit 2"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

Hello ive found a illegal dupe glitch in latest version of tekkit 2 this bug happens only if i use the alchemical chest on top of ic2 machines using a import upgrade in the machin

[2022-10-11 15:16] xJon commented on #122
Hey, thank you for the report! This seems to be a duplicate of https://github.com/xJon/Tekkit-2/issues/87.

[2022-10-11 15:19] xJon commented on #120
@Speiger Interesting! It seems to be incomplete in 1.12.2 though unfortunately, see [this](https://github.com/sinkillerj/ProjectE/issues/2069#issuecomment-737659394) and [this](https://github.com/sinkillerj/ProjectE/issues/1962#issuecomment-587229239).

[2022-10-17 12:16] vikke1234 opened #123 "Tekkit 2 does not translate keys and keybind broken"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

On a DVORAK keyboard layout the key `'` is not bindable (apostrophe), all other keys I've do work. In general it would be nice if it translated the keys si

[2022-10-17 14:14] xJon commented on #123
So is this an issue also on vanilla 1.12.2?

[2022-10-17 14:34] vikke1234 commented on #123
It works on vanilla 1.12.2.

[2022-10-17 14:55] xJon commented on #123
So what exactly is the issue that is not present on vanilla 1.12.2? `'` is not bindable?

[2022-10-17 17:55] vikke1234 commented on #123
Sorry for the bad wording, but essentially on Tekkit 2 `'` is not bindable. I'm trying to bind drop item to it since it's the same button as `Q` on QWERTY. I tried binding e.g. inventory as well to it to make sure that it's broken. Binding `'` did work on vanilla 1.12.2 as well as the most recent version.

What are other modpacks that run 1.12.2, I can try them.

[2022-10-17 18:09] vikke1234 commented on #123
I just tried to bind it to apostrophe with a normal keyboard layout and it didn't work either, you can try the functionality yourself, should be reproducible quite easily.

[2022-10-17 20:47] xJon commented on #123
And what about the other issue you mentioned? Is it a 1.12 vanilla issue?

[2022-10-17 21:12] xJon commented on #123
I am able to bind a key to apostrophe and use it, odd that you can't with a normal keyboard?
![image](https://user-images.githubusercontent.com/8945347/196284353-3a82bde3-68d2-4a1b-898c-a8c98b2a85bd.png)

[2022-10-18 00:56] xJon commented on #21
This should be fixed in version `1.1.0` :)

[2022-10-18 00:56] #21 closed

[2022-10-18 00:56] xJon commented on #20
Is this still an issue in version `1.1.0`? (Railcraft was updated)

[2022-10-18 00:57] xJon commented on #45
This should be fixed in version `1.1.0` :)

[2022-10-18 00:57] #45 closed

[2022-10-18 01:00] xJon commented on #58
In version `1.1.0` of the modpack there is a new Logistics Pipes version that addresses the compatibility issues causing frames to disappear. That being said, the crashes are caused and need to be addressed by Project Red. Closing for now as the mod is not in active development and still has a restrictive license.

[2022-10-18 01:00] #58 closed

[2022-10-18 01:04] xJon commented on #61
Logistics Pipes has updated in version `1.1.0` of the modpack to have better compatibility with IC2C. In any case, closing this due to inactivity - will reopen if requested :)

[2022-10-18 01:04] #61 closed

[2022-10-18 01:04] xJon commented on #68
This is resolved in version `1.1.0` :)

[2022-10-18 01:04] #68 closed

[2022-10-18 01:08] xJon commented on #76
Railcraft was updated in version `1.1.0` of the modpack :)

[2022-10-18 01:08] #76 closed

[2022-10-18 01:09] xJon commented on #94
Closing due to inactivity.

[2022-10-18 01:09] #94 closed

[2022-10-18 01:09] xJon commented on #95
This should be fixed in version `1.1.0` :)

[2022-10-18 01:09] #95 closed

[2022-10-18 01:10] xJon commented on #99
Should be resolved as Railcraft was finally updated in version `1.1.0` of the modpack!

[2022-10-18 01:12] #102 closed

[2022-10-18 01:13] xJon commented on #103
This should be resolved in version `1.1.0`. If you're still having any issues, please report back :)

[2022-10-18 01:13] #103 closed

[2022-10-18 01:13] xJon commented on #106
Closing due to inactivity.

[2022-10-18 01:13] #106 closed

[2022-10-18 01:13] xJon commented on #113
Closing due to inactivity.

[2022-10-18 01:13] #113 closed

[2022-10-18 01:14] xJon commented on #115
The recipe issue should be resolved in version `1.1.0` :)

[2022-10-18 01:14] xJon commented on #116
Closing due to inactivity (will reopen if requested!).

[2022-10-18 01:14] #116 closed

[2022-10-18 01:15] xJon commented on #117
Closing due to inactivity (will reopen if requested!).

[2022-10-18 01:15] #117 closed

[2022-10-18 01:15] xJon commented on #119
Closing due to inactivity (will reopen if requested!).

[2022-10-18 01:15] #119 closed

[2022-10-18 01:15] xJon commented on #120
This is resolved in version `1.1.0` by removing the EMC values from the unsupported items.

[2022-10-18 01:15] #120 closed

[2022-10-18 01:15] #122 closed

[2022-10-18 10:22] SparksSkywere commented on #69
I have updated my server and informed the players.

[2022-10-18 12:58] JKincorperated opened #124 "Computercraft with ic2 reactor behaving oddly"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no

Some additional info: this is on a space station on a server.

Wrapping an ic2 reactor in a computer works fine. However, using any of the methods results in the error "The block has changed".
![image (5)](https://user-images.githubuserconte

[2022-10-18 13:21] JKincorperated commented on #124
OK, so after some digging I have discovered the server uses a custom patch for plethroa. So this is not Modpack related.

[2022-10-18 13:21] #124 closed

[2022-10-18 14:31] Lumpous opened #125 "Tekkit 2 Server V1.1.0 endless: Exception caught during firing event ic2.api.energy.event.EnergyTileLoadEvent@"
openjdk version "1.8.0_342"
OpenJDK Runtime Environment (build 1.8.0_342-8u342-b07-0ubuntu1~20.04-b07)
OpenJDK 64-Bit Server VM (build 25.342-b07, mixed mode)

After I updated the server and moved only the world from v1.0.5 to v1.1.0, the server starts spamming the console and log files with tons of errors - always the same error:

latest.log: https://mclo.gs/Yqo8DU9
debug.log: https://lumpous.de/

[2022-10-18 14:34] Jaari commented on #123
Using a QWERTY keyboard layout, I was able to bind the Drop Item key to the apostrophe and the grave key.

[2022-10-18 15:02] djdubbs12 commented on #20
Same. Can't take my pants off!! ( 😂 )

[2022-10-18 17:25] vikke1234 commented on #123
@Jaari yeah, I'm able to see that it binds to `'` but I can't actually use the bind.

[2022-10-18 17:35] xJon commented on #20
@djdubbs12 What modpack version are you using?

[2022-10-18 17:44] xJon commented on #123
@Jaari @vikke1234 Like shown in the screenshot I bound the galaxy map key to apostrophe and was able to use it. Does it depend on which key you are trying?

[2022-10-18 18:24] xJon commented on #125
Seems to be the same issue as https://github.com/Railcraft/Railcraft/issues/2040.

[2022-10-18 18:36] Jaari commented on #123
@xJon I specifically tried dropping items (normal key is Q) which it would not let me with the apostrophe key. I have checked this against Barebones Forge 2860 and it would let me drop items with the apostrophe key.

[2022-10-18 18:54] xJon commented on #123
@Jaari Are you able to reproduce this issue with other key bindings?

[2022-10-18 19:10] Jaari commented on #123
@xJon I have tried a bunch of keys, but all worked. Funnily enough, Shift + Apostrophe works.
- Semicolon
- Slash
- Backslash
- Brackets
- Comma: Didn't work, but only because conflicting with GC galaxy map, which has higher priority it seems.
- Grave
- Space
- Mouse button 4 (I'm aware I'm evil).

[2022-10-18 19:20] xJon commented on #123
@Jaari Can you also test other functions on the apostrophe key beyond the drop item one? (They rest seem to work for me)

[2022-10-18 20:10] djdubbs12 commented on #20
@xJon 1.0.5

![image](https://user-images.githubusercontent.com/92045860/196533851-c8b08395-03be-4100-b4b6-2b2ef8a07676.png)

[2022-10-18 20:15] xJon commented on #20
@djdubbs12 If you can test whether this bug is still present in `1.1.0`, it'd be useful.

[2022-10-18 20:41] djdubbs12 commented on #20
@xJon Sure! Give me just a few to back everything up and update.

[2022-10-18 21:11] djdubbs12 commented on #20
@xJon Can confirm, issue is still present. Can't remove pants and "alt + Click" crashes the game still.

[2022-10-18 21:22] xJon commented on #20
Thank you for the update, that's unfortunate. As it was reported to the author and Railcraft is not currently in active development I'll close this for now.

[2022-10-18 21:22] #20 closed

[2022-10-18 21:45] djdubbs12 commented on #20
@xJon Is it possible to delete the item in an update then add it back in? Or maybe client side?

[2022-10-18 22:03] xJon commented on #20
@djdubbs12 If you're stuck you can rollback your save to a backup :)

[2022-10-18 22:05] djdubbs12 commented on #20
@xJon Oh I've had these on for over a month of daily play, that's not an option 😂. They aren't hurting me so I have no issue with them on for right now.

[2022-10-20 07:07] RugRite opened #126 "Unexpected Behavior - Plethora Inventory Wrapping & IC2 Classic"
ENVIRONMENT:

openjdk version "1.8.0_342"
OpenJDK Runtime Environment (build 1.8.0_342-8u342-b07-0ubuntu1~22.04-b07)
OpenJDK 64-Bit Server VM (build 25.342-b07, mixed mode)

ERROR LOG:

https://mclo.gs/tsmKlVh

TO REPRODUCE:

-- 1x Computer
-- 2x Modem
-- Network cable
-- 1x Any IC2 Machine
-- Compatible Item for IC2 Machine Inventory

Connect Modem to IC2 Machine & Computer --> Wire modems --> Ac

[2022-10-21 07:28] vikke1234 commented on #123
I tried to bind apostrophe to e.g. opening inventory and dropping, neither worked when pressing the button. The rest of the symbols that I tried seemed to work (such a dot or comma).

[2022-10-21 07:49] xJon commented on #123
@vikke1234 What about opening the galaxy map or moving forward?

[2022-10-21 08:01] vikke1234 commented on #123
Interestingly enough, both opening the galaxy map and moving forward did
work.

On 21/10/2022 10.49, Jon wrote:

--
- Viktor

[2022-10-21 08:45] xJon commented on #123
I'm not sure what causes this issue, but it's quite minor and I'm unable to troubleshoot it at this time. If you want, you can test removing mods to possibly find the cause. Thank you for the report nonetheless! Closing for now.

[2022-10-21 08:45] #123 closed

[2022-10-22 16:28] Kretiss opened #127 "Arm64 java natives for supporting Apple Silicon"
Hello guys, is it possible to add arm64 based java natives (or how is it called) to support Apple Silicon native emulation? When I try to run modpack with Zulu Java 8 for arm64, it fails because of for example:

`'/Users/<user>/Library/Application Support/technic/modpacks/tekkit-2/bin/natives/liblwjgl.dylib' (fat file, but missing compatible architecture (have 'i386,x86_64', need 'arm64'))`

Thank

[2022-10-22 17:35] xJon commented on #127
You might want to ask about this over Technic's Discord: https://discord.com/invite/technic

[2022-10-23 13:37] xJon commented on #125
@Speiger can you provide any insight to this issue? (caused when using Railcraft's latest versions)

[2022-10-23 13:54] Speiger commented on #125
This is most likely due to a feedback loop.
IC2C throws block updates on every block that gets added to the enet (cables need that) and i assume railcraft doesn't have a protection for that. or doesn't account for that.

[2022-10-23 15:55] DadekCz opened #128 "Basalt bricks and chisel items don't like each other"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**:  latest log here:   https://mclo.gs/Yr5mdq7

**Describe the issue**

I was playing with my brother on our server, and i was using the diamond chisel, i opened the GUI and put basalt bricks in there

[2022-10-23 16:25] xJon commented on #128
I tested this on singleplayer and server and I cannot reproduce this on `1.1.0`:
![image](https://user-images.githubusercontent.com/8945347/197403812-52de823e-e44a-4d49-a672-bfaaeefd3134.png)

[2022-10-23 18:54] DadekCz commented on #128
hmm weird, we are not using any plugins, but i changed some mod settings in quark, but i don't think it has anything to do with that, i changed client-side things like more textures for animals and stuff

[2022-10-24 00:18] Speiger commented on #126
Fixed in next version.

[2022-10-24 00:19] Speiger commented on #66
Yeah this is a forestry issue. And unless they patch it this isn't possible.

[2022-10-24 00:19] Speiger commented on #87
This should be fixed with the next version.

[2022-10-24 00:20] Speiger commented on #108
This should be fixed.

[2022-10-24 02:43] xJon commented on #128
Can you reproduce this issue on singleplayer or different servers?

[2022-10-24 02:46] xJon commented on #66
Thanks for the heads up @Speiger. Closing this for now as Forestry is not in active development.

[2022-10-24 12:33] DadekCz commented on #128
I think i figured it out, i tried it again on my brother's laptop (installed a new and the same server and changed it to same configs and put in that world and hosted the server there) and it was because of that it was first time used and it's the problem, using that item gui for the first time seems like it likes to crash the primitive server, the server is so simple it doesn't handle loading som

[2022-10-24 12:33] #128 closed

[2022-10-24 16:38] LoneWulf2751 opened #129 "say i dont have enough ram to play tekkit 2"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Help needed**

A clear description of what help is needed.

every time i try to run tekkit 2 it says i do not have enough ram, says im running 1GB when i need 2.5GB, when i have 3

[2022-10-24 16:50] xJon commented on #129
![image](https://user-images.githubusercontent.com/8945347/197581411-9a565131-07df-4650-b181-789b46eb20f9.png)

[2022-10-24 16:53] LoneWulf2751 commented on #129
i have the required java version and have more than enough RAM, also i cant click the blue link

[2022-10-24 17:02] LoneWulf2751 commented on #129
![Screenshot 2022-10-24 173252](https://user-images.githubusercontent.com/116584410/197583560-85404061-8391-4c80-ace8-14307900500e.png)

[2022-10-24 17:02] Speiger commented on #93
Fixed in the next patch.

[2022-10-24 17:25] xJon commented on #129
Hmm, did you try going to the Java Settings in the Launcher Options to allocate more RAM?

[2022-10-25 00:37] lividsubset3 opened #130 "1.1.x Server Files Request"
Just wondering if it would be possible to get a server update to 1.1.x. Only allowing the 1.0.5 server files

Cheers

[2022-10-25 01:25] lividsubset3 commented on #125
Where is latest server download, or is it more of a full manual update?

[2022-10-25 05:42] xJon commented on #130
You can get them from [this link](https://servers.technicpack.net/Technic/servers/tekkit-2/Tekkit-2_Server_v1.1.0.zip).

[2022-10-25 17:12] lividsubset3 commented on #130
@xJon Perfect thank you sir.

[2022-10-26 16:26] lividsubset3 opened #131 "[Mod] IC2 Classic - Update to 1.5.6.0"
Hey,
Just wondering if it would be possible to update IC2 to [1.5.6.0](https://www.curseforge.com/minecraft/mc-mods/ic2-classic/files/4048720).
The mod creator updated it to allow the steam reactor to have its own config for power change. (output more steam, and use more water) I think it would be a nice update, as since you recently changed the output of the normal reactor.

Cheers

[2022-10-26 18:07] xJon commented on #131
It is a useful update, with a lot of useful fixes! Not sure about the steam output change though, as from testing it seems that the current output already maxes out multiple turbines.
It will be updated as soon as we can fix the current issue with Railcraft :)

[2022-10-26 19:39] lividsubset3 commented on #131
Yes that's true. The steam reactor takes in water and outputs steam. But the config allows for change of steam output.
For example if you use one quad blaze fuel rod it will use a total of 17.3 steam turbines.
Would be wonderful if steam was x2 as powerful then reactor. And would be more enjoyable to build that infrastructure for steam.

[2022-10-26 22:20] xJon commented on #131
When you say "x2 as powerful", do you mean in steam production? isn't 17 turbines already quite high?

[2022-10-28 16:07] xJon commented on #131
Updated in `1.1.1` :)

[2022-10-28 16:07] #131 closed

[2022-10-28 16:07] xJon commented on #126
@Speiger's fix is included in `1.1.1` :)

[2022-10-28 16:07] #126 closed

[2022-10-28 16:08] xJon commented on #125
Should be resolved in `1.1.1` thanks to @Speiger's fix https://github.com/Railcraft/Railcraft/pull/2086  :)

[2022-10-28 16:08] #125 closed

[2022-10-28 16:09] xJon commented on #108
@Speiger's fix is included in `1.1.1` :)

[2022-10-28 16:09] #108 closed

[2022-10-28 16:09] xJon commented on #93
@Speiger's fix is included in `1.1.1` :)

[2022-10-28 16:09] #93 closed

[2022-10-28 16:09] xJon commented on #87
@Speiger's fix is included in `1.1.1` :)

[2022-10-28 16:09] #87 closed

[2022-10-28 16:09] #130 closed

[2022-10-28 16:11] xJon commented on #13
Closing for now.

[2022-10-28 16:11] #13 closed

[2022-10-28 17:10] SparksSkywere commented on #69
Barely anyone has been on, but I haven't crashed, although I am having real issues with server lag and it isn't down to the hardware, it is 100% minecraft. I might have to reset the world.

[2022-10-28 17:26] Misqudestrojer opened #132 "Minecraft failed to start. Tekkit 2 with Optifine"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: yes OptiFine_1.12.2_HD_U_G5
- **Crash/latest log link (if applicable)**:[ link to log / not applicable](https://mclo.gs/rUDYrIp)

**Help needed**

People say that manually installing Optifine is ok and it works. For me it worked for one day. Nex

[2022-10-28 17:45] #132 closed

[2022-10-28 17:56] xJon commented on #132
Did you mean to close the issue?

[2022-10-28 21:01] kilobit123 opened #133 "Crafting Table IV doesn't support certain recipes"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Crafting Table IV doesn't let me craft certain recipes. This affects most of IndustrialCraft and EnderStorage. An example is the Machine Block.

[2022-10-28 23:25] xJon commented on #133
This is somewhat of a known issue and unfortunately the mod is not in active development. Either way, it might be beneficial if you report this directly to the mod author over https://github.com/Elecs-Mods/CraftingTable-IV/issues

[2022-10-28 23:41] SHexplorer opened #134 "Config Balance Request: Balance the steam output of nuclear steam reactors"
I am using nuclear steam reactors to produce energy and I think they are not balenced. A normal nuclear reactor produces 15eu/t with one uranium cell and one heat vent. A nuclear steam reactor produces 15 to 16mb/t of steam with one uranium cell and one steam vent. With this 15mb/t a basic steam turbine from ic2 produces 9eu/t. So normal nuclear reactor are much more efficient than nuclear steam r

[2022-10-29 00:17] Speiger commented on #134
@SHexplorer for the normal uranium the reduced or equal power output is valid.
Since the output is based on the heat output, not on the "active production".
Meaning a normal uranium rod isn't as good in a steam reactor, while others are better.

In 1.19.2 we actually double the output and increase the total max potential output (not a straight buff) by 50% too.
But there is also a cap of how much

[2022-10-29 00:36] xJon commented on #134
I did not actually include a buff to `energyGeneratorSteamReactor` in version `1.1.1` of the modpack but like Speiger mentioned it is a sound suggestion overall.

[2022-10-29 07:54] Misqudestrojer commented on #132
yes

[2022-10-29 11:15] SHexplorer commented on #134
Well, okay thank you for that explanation @Speiger. I only noticed that with 1.1.1 or 1.1.0 the nuclear power production was increased (like mentiond in the changelog) and the nuclear steam to power production not, I thought it was just forgotten to adjust it too. (in 1.0.5 it was 5 eu/t per cell while in steam reactors it stayed 9eu/t with the basic turbine).

But okay, I understand the concept o

[2022-10-29 11:27] xJon commented on #134
@SHexplorer I'm considering doubling the `energyGeneratorSteamReactor` value in `\config\ic2\ic2.cfg` like @Speiger mentioned was done in future versions. What do you think?

[2022-10-29 11:41] SHexplorer commented on #134
That would be 25% more output than the normal nuclear reactor (19eu/t, normal reactor 15eu/t). That would be my suggestion/wish. But I also understand when it is designed to not put out more power with normal cells like @Speiger mentioned above. Your call @xJon

[2022-10-29 11:46] xJon commented on #134
@SHexplorer But even then with a full sized steam reactor, would you truly be able to output more power than a normal reactor? Wouldn't the amount of turbines you need be over a thousand?

[2022-10-29 12:10] SHexplorer commented on #134
I dont know the save maximum power output of a normal nuclear reactor but with some railcraft steam turbines you could get a lot of power. Every turbine puts out 220eu/t. They are not cheap but you can drive (with the current setting) 4 Turbines and more from a single full sized steam reactor (i just testet it normal uranium cells and overclocked steam vents) without active cooling, so produce ove

[2022-10-29 13:01] xJon commented on #134
@SHexplorer If that's the case I think I'll double it per @Speiger's suggestion. Thank you for the input!

[2022-10-29 14:38] xJon commented on #134
Changed in `1.1.2` :)

[2022-10-29 14:38] #134 closed

[2022-10-29 14:39] xJon commented on #133
Closing this for now, thank you for the report nonetheless!

[2022-10-29 14:39] #133 closed

[2022-10-29 14:42] xJon commented on #10
This happened to me rarely. Unfortunately I cannot reproduce this and I am not aware of the cause.

[2022-10-29 14:46] xJon commented on #69
Some players reported better performance in the latest versions, might be worth a try

[2022-10-30 09:30] SparksSkywere commented on #69
As of right now in v1.1.2:

1. The Morning Star does not crash the game anymore
2. Were still experiencing lag with the following:
![image](https://user-images.githubusercontent.com/34066194/198871642-6da18065-d969-420b-9ea9-043559c0e916.png)
3. Most crashes have been fixed but still getting the occasional server crash (I will create tickets if more of these crashes happen)

Overall there is a lot

[2022-10-30 09:31] SparksSkywere commented on #69
Just leaving this here for incase you may think server hardware is causing it:

![image](https://user-images.githubusercontent.com/34066194/198871781-1882ba58-9f89-478a-a9ea-f59b4398b94e.png)

[2022-10-30 12:13] xJon commented on #69
Glad a lot of the issues were resolved! In regards to performance, I don't have much experience as a server admin. I'd recommend using tools such as LagGoggles and/or Spark for profiling. Also chunk pregeneration can help.

[2022-10-30 13:40] Blacksail-1 opened #135 "crash happening due to bottom valves on tanks"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: link to log (at bottom of issue) X3

**Describe the issue**

A clear description of

what the issue is.
When I build a tank to store liquid (iron or steel) and click the bottom set of valves on th

[2022-10-30 13:43] Blacksail-1 commented on #129
if you go into the launcher setting and change the ram allotment it'll run (i had to do this btw when i got the modpack)

[2022-10-30 14:37] xJon commented on #135
Thanks for the report!
As a workaround, a bottom layer valve on the side does not crash and can still function as an output valve.

[2022-10-30 14:44] Blacksail-1 commented on #135
been using that now since i found that bug. thought i would mention the crash with the bottom layer valves, rather be it me bring it up now than someone else later.

[2022-10-30 21:34] Mccaw100 opened #136 "Logistics Pipes Crafting"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**: yes (detail) / no
- **Crash/latest log link (if applicable)**:  / not applicable

**Describe the issue**

Logistics crafting pipes no longer Function in part of a system.  They allow you to connect them to a system and power is passed through t

[2022-10-31 04:33] AnnikenYT opened #137 "[Server] Unable to launch"
## TL;DR
- **Are you using a legitimate Minecraft account?**: ✅
- **Are you using Java 8, 64-bit?**: ✅
- **Did you add any additional mods**: [Tekkit 2](https://www.technicpack.net/modpack/tekkit-2.1935271) ([Server Pack](https://servers.technicpack.net/Technic/servers/tekkit-2/Tekkit-2_Server_v1.1.2.zip) | [+1](https://www.curseforge.com/minecraft/mc-mods/rope-bridge), no impact on the issue, tri

[2022-10-31 05:00] AnnikenYT commented on #137
Issue fixed, seems like I did not update a dependency or something like that...

[2022-10-31 05:00] #137 closed

[2022-10-31 15:12] xJon commented on #136
What modpack version are you playing with?

[2022-11-01 00:06] Mccaw100 commented on #136
Hi xJon this is 1.1.2 - Unsure how to get the Game log as it doesnt crash?

[2022-11-01 00:11] xJon commented on #136
You can get the game log through the modpack's installation folder -> `\logs\latest.log`

[2022-11-01 00:15] Mccaw100 commented on #136
Yes this was completely fine until this new update 2 days ago.

https://mclo.gs/FXMr87U

[2022-11-01 00:26] xJon commented on #136
You need to open the `latest.log` file and copy over its contents to https://mclo.gs/ :)

[2022-11-01 00:34] Mccaw100 commented on #136
https://mclo.gs/slL4fKW Apologies that should be it

[2022-11-01 00:49] xJon commented on #136
Is this from a session in which the issue has occurred? I don't seem to see any error from Logistics Pipes unfortunately.

[2022-11-01 00:59] Mccaw100 commented on #136
Hi - recreated the issue and refreshed should have occurred between 00:56-00:57

https://mclo.gs/7o1Feha

[2022-11-01 01:32] xJon commented on #136
I can see an issue there... but it seems you are playing on a server. Any chance you can share the server-sided log? Or alternatively reproduce the issue on a singleplayer world and share your log then?

[2022-11-01 02:58] Taliviere commented on #136
The server side logs are
https://mclo.gs/yoLfUeE
Thank you so much for the assistance

[2022-11-01 03:07] xJon commented on #136
Thank you for the report! I'll forward this to the mod developer :)

[2022-11-01 03:08] Mccaw100 commented on #136
Fantastic Thankyou!

[2022-11-01 12:24] xJon commented on #136
Could you send the full server log from when the issue occurred?

[2022-11-01 12:54] Rishum-P commented on #136
On our server, we have not been having this issue. Everything crafts fine across a very significant amount of large logistics crafting systems. It's likely isolated to their server and Fake Players, perhaps.

[2022-11-01 15:03] AngryCarrot789 commented on #136
I feel like this is due to using SpongeForge server side

[2022-11-01 15:09] xJon commented on #136
@Mccaw100 Perhaps you could check whether you can reproduce the issue on singleplayer or unmodified server? In case it is caused by a conflict, you could fetch the extra information to try to troubleshoot it.

[2022-11-01 17:12] KreXTV opened #138 "[BUG] IC2 Furnace (electric & induction) cant smelt "normal" items"
**Basic details**
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**: yes on client (nitrado server default setting is java 7, just saying, but tested on client and server)
- **Did you add any additional mods**: no (just _optifine_)
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Electric furnace & induction furnace ca

[2022-11-01 17:46] xJon commented on #138
Thanks for the report! It is a known issue and hopefully will get resolved soon (https://github.com/TinyModularThings/IC2Classic/issues/493).

[2022-11-01 19:32] KreXTV commented on #138
thank you for your quick feedback!

[2022-11-04 00:54] JosephJames69 opened #139 "add applied energistic ?"

[2022-11-04 15:45] IcarusPines opened #140 "Steam Engines Railcraft"
Are the steam engines disabled? When serching ingame they appear in jei but i get no recipe and when i cheat the engines i cant get them to work or enter the interface(i belive they have one...).
When looking in the Confic data the recipies are enabled disableling restarting enabeling and restarting dosnt work either.
Answer would be appreciated.

[2022-11-04 16:14] xJon commented on #140
Thanks for pointing this out! It actually makes sense, as MJ is disabled in the pack and BuildCraft uses RF (if you want to revert this feature you could remove `buildcraftfluxified-1.0.0.jar`).
I'll hide them from JEI in future updates to hopefully make it clear that they are disabled.

[2022-11-04 16:20] xJon commented on #139
I'd recommend using [Logistics Pipes](https://www.devzero.com/gaming/lp-tutorial/) (or [Project Red](https://www.youtube.com/results?search_query=project+red+transportation)) as an alternative, as they capture that old school feeling this modpack is all about, but if you really want AE2 you can add it yourself manually :)

[2022-11-04 16:21] #139 closed

[2022-11-04 16:25] xJon commented on #77
I think that both mods' introduction process is unique and that there is value in not merging them, but anyone who feels differently can remove this in `\scripts\tekkit2.zs` :)

[2022-11-04 16:25] #77 closed

[2022-11-04 16:33] xJon commented on #92
This is currently not planned at this point, as the mod doesn't really fit the modpack theme, but thank you for the suggestion!
Also to be honest, the Filler is nice and is distinctly missing from BuildCraft, but as both mods are open source it the code could inspire a PR to BuildCraft's repo.

[2022-11-04 16:33] #92 closed

[2022-11-04 16:44] IcarusPines commented on #140
Is it possiple to change their output from MJ to RF?

[2022-11-04 17:14] xJon commented on #140
I do believe there are multiple other options in the pack that generate RF with steam - e.g. Railcraft's Steam Turbine.
I'm not sure about their output, I couldn't find such option.

[2022-11-04 17:25] IcarusPines commented on #140
The Steam Turbine outputs EU nor rf...

[2022-11-04 17:25] IcarusPines commented on #140
not*

[2022-11-04 23:04] xJon commented on #140
Oh you are right - my bad. You can always use Flux Generators to convert the EU to RF though, in general it is encouraged to always generate EU in the modpack as it's a more balanced power system.

[2022-11-05 14:41] #140 closed

[2022-11-06 22:37] xJon commented on #138
Resolved in `1.1.3` thanks to @Speiger's update :)

[2022-11-06 22:38] xJon commented on #135
This is fixed in `1.1.3` thanks to @ACGaming's [patch](https://github.com/ACGaming/Quark/commit/9325b5f608d6ccc712d18de36f26a796f4ec6644) :)

[2022-11-06 22:38] #135 closed

[2022-11-08 16:32] 1idenburg opened #141 "'Updating screen events' crash with Logistics Pipes"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: https://mclo.gs/PaMvkPR

**Describe the issue**

Fresh install of 1.1.3, pressing the '!' icon of upgrades in the 'Upgrades' section of the pipe manager (in my case used on a crafting pipe) causes

[2022-11-08 16:43] xJon commented on #141
Seems to be https://github.com/RS485/LogisticsPipes/issues/1674? Hopefully it'll get resolved on the mod's end, then eventually included in a future modpack update. Thank you for the report :)

[2022-11-08 16:59] 1idenburg commented on #141
Yep, also posted it there. Hopefully it'll get resolved soon :)

[2022-11-08 18:04] 1idenburg commented on #141
@xJon bziemons just fixed it. hope to see it in the next update.

[2022-11-08 20:38] xJon commented on #141
Sweet! Will be included in the next modpack update (for now you can feel free to manually update the mod).

[2022-11-12 00:20] MulaHwaka opened #143 ""server must have hei installed""
Have a server running off of my pc and friends can connect with no issue. But HEI was preventing us from crafting anything modded. Vanilla tools could be made but anything that was from a mod wouldn't sohw up as a craft output when the materials were put into the table. Hovering over the plus icon that would auto input the material in the correct pattern would show the message "server must have he

[2022-11-12 03:08] xJon commented on #143
Are you starting the server using the launch script?

[2022-11-12 03:11] MulaHwaka commented on #143
Yup, the .bat file

[2022-11-12 14:16] xJon commented on #143
Did you modify the server in any way?

[2022-11-12 14:32] MulaHwaka commented on #143
Yep, figured out what I had done wrong before, had switched the .bat to point at the server.jar not the forge.jar, because the server wasn't launching via the forge.jar file, instead I get this in the console
https://i.imgur.com/zQZYH7o.png
for the image above it's a fresh server install, haven't done anything except run the LaunchServer.bat file.

[2022-11-12 15:05] ACGaming commented on #143
Please make sure that you‘re using the latest Java 8 64-bit to run the server.

[2022-11-12 15:27] MulaHwaka commented on #143
Updated Java and new fresh server install, same result
https://i.imgur.com/K5AYPG0.png

[2022-11-12 16:06] MulaHwaka commented on #143
Damnit, I had jdk 19 installed. It wasn't showing up in the Java uninstall tool but was affecting the server launch. Thanks for the help

[2022-11-12 17:35] #143 closed

[2022-11-13 20:06] IcarusPines opened #144 "Combustion Engine Buffer runs full"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**: no
- **Crash/latest log link (if applicable)**: not applicable

![2022-11-05_21 34 55](https://user-images.githubusercontent.com/117466918/201541810-b0f0b454-a56a-4352-b3ba-1f701c160363.png)
![2022-11-13_20 50 04](https://user-images.githubuser

[2022-11-13 20:12] IcarusPines commented on #144
Opps it didnt take the text and ignore the first picture put it accidently in, well once again:
The Combustion engine gives an output but the internal buffer keps growing despite the Big Battery being at just 18% and the kinesis Wooden and golden pipes have enouth capacaties to transfer (Electric engines arent running) the RF to the big Battery. Already tried replaycing the Pipes and the Engines a

[2022-11-17 22:36] Blaze1499 opened #145 "Industrial Craft Classic requiring at least 2 of some upgrades to take effect"
**Basic details**
- **Are you using a legitimate Minecraft account?**: yes
- **Are you using Java 8, 64-bit?**: yes
- **Did you add any additional mods**:  no
- **Crash/latest log link (if applicable)**: not applicable

**Describe the issue**

Tried putting a single overclocker upgrade into various tier 1 ICC machines, (Macerator, Compressor, Extractor, Electric furnace), and despite having plenty

[2022-11-17 23:58] xJon commented on #145
Can you forward that report to https://github.com/TinyModularThings/IC2Classic/issues ?

[2022-11-17 23:59] xJon commented on #144
So they stopped transferring power after the battery reached 18%? Can you reproduce this behavior in other worlds as well?

[2022-11-18 02:50] Blaze1499 commented on #145
Done

[2022-11-27 12:42] Speiger commented on #144
IIRC engines must run long to speed up their speed to send out energy since they do it in "bursts" in sync with the animation...
Also there could be a design flaw there too.

[2022-11-28 21:09] Misqudestrojer opened #146 "Railcraft's Steel Anvil broken UI elements"
- **Are you using a legitimate Minecraft account?**:  yes
- **Are you using Java 8, 64-bit?**:  yes
- **Did you add any additional mods**: yes: optifine, Inventory spam
- **Crash/latest log link (if applicable)**:  not applicable

When entering steel anvil I can't see item description while hovering cursor on it (enchanted books which I want to merge in anvil).
It works on iron anvil.

Stell anvil

[2022-11-28 23:29] xJon commented on #146
Can you forward this report to https://github.com/Railcraft/Railcraft/issues ?

[2022-11-29 17:12] Misqudestrojer commented on #146
Ye, I'll try

[2022-11-30 00:59] MetagamerDotJpg commented on #105
Galacticraft is already unstable half the time, Extra Planets or GalaxySpace (often paired) tend to be extremely unstable. I'd love to have more planets to go between, but I also like my game stability.

[2022-11-30 01:05] HalfBakedTurkey opened #147 "Radioactive Bees from Binnie's Extra Bees don't have IC2 Classic compatibility"
**Basic details**
- **Are you using a legitimate Minecraft account?**: no / **yes**
- **Are you using Java 8, 64-bit?**: no / **yes**
- **Did you add any additional mods**: yes (detail) / **no**
- **Crash/latest log link (if applicable)**: link to log / **not applicable**

**Describe the issue**
After getting quite far with the forestry bees it became apparent to me that one of the most useful lat